Repository alibaba/spring-ai-alibaba, pull requests merged in 2025-07, with the labels that each got.

#1398 fix(core): add observability support in dashscope autoconfigure pom
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/pom.xml
Labels: area/core

#1429 fix(mcp): 修复了Nacos MCP Server版本变更时无法成功注册到Nacos的Bug
  pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos-common/src/main/java/com/alibaba/cloud/ai/mcp/nacos/service/NacosMcpOperationService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/registry/NacosMcpRegister.java
Labels: area/mcp

#1431 feat(nl2sql): support multiple embedding models with configurable options
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/README.md
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/util/AiConfiguration.java
Labels: area/docs, area/nl2sql

#1442 fix(jmanus):remove shell
  spring-ai-alibaba-jmanus/RoadMap-zh.md
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/config/ManusProperties.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/config/startUp/QueryCommandRunner.java
Labels: area/jmanus

#1418 upgrad(deepresearch): Update elasticsearch similarity retrieval imple…
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/rag/retriever/RrfHybridElasticsearchRetriever.java
Labels: area/deepresearch

#1443 feat(mcp): decouple the construction logic of WebFluxSseClientTransport in Nacos MCP client
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpTransportBuilderAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-client/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/client/builder/WebFluxSseClientTransportBuilder.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/client/transport/LoadbalancedMcpAsyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/client/transport/LoadbalancedMcpSyncClient.java
Labels: area/mcp, area/core

#889 :wrench: use Maven Central Portal
  spring-ai-alibaba-bom/pom.xml
Labels: area/core

#1457 fix(graph): correct graph observation span relation
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/GraphObservationLifecycleListener.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/edge/DefaultGraphEdgeObservationConvention.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/edge/GraphEdgeObservationContext.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/graph/GraphObservationContext.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/node/DefaultGraphNodeObservationConvention.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/node/GraphNodeObservationContext.java
Labels: area/graph

#1465 infra(ci): update issue-and-pr action version tag
  .github/workflows/issue-and-pr.yml
Labels: area/infra

#1458 fix(graph): modify BranchNodeDataConverter to avoid value variable registration
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/BranchNodeDataConverter.java
Labels: area/graph

#1462 feat(graph): dynamically render the corresponding import based on the node
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/templates/GraphBuilder.java.mustache
Labels: area/graph

#1466 feat(graph): support mcp path key
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/McpNode.java
Labels: area/graph

#1440 feat(jmanus): prompt supports dynamic changes of console
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/agent/BaseAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/agent/ReActAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/DynamicAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/DynamicAgentLoader.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/controller/PromptController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/enums/PromptEnum.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/enums/PromptType.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/po/PromptEntity.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/vo/PromptVO.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/repository/PromptRepository.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptDataInitializer.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/creator/PlanCreator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/finalizer/PlanFinalizer.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/prompt/PromptLoader.java
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/example/manus/tool/BrowserUseToolSpringTest.java
Labels: area/jmanus

#1464 feat(jmanus): max memory config
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/agent/BaseAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/config/ManusProperties.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/DynamicAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/LlmService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/creator/PlanCreator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/executor/PlanExecutor.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/finalizer/PlanFinalizer.java
  spring-ai-alibaba-jmanus/src/main/resources/static_legacy/admin/js/config-model.js
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/basicConfig.vue
Labels: area/jmanus

#1487 feat(deepresearch): add InfoCheckTool && optional params optimize_que…
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/request/ChatRequestProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/req/ChatRequest.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/RewriteAndMultiQueryNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/InfoCheckService.java
  spring-ai-alibaba-deepresearch/src/main/resources/model-config.json
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/backgroundInfoCheck.md
Labels: area/deepresearch

#1501 feat(graph): update return value in shouldInterruptBefore
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/react/ReactController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/bash/MacShellExecutor.java
Labels: area/graph, area/jmanus

#1499 fix(jmanus): fix time clear input issue for conditional dynamic input jmanus dialog
  spring-ai-alibaba-jmanus/ui-vue3/src/components/chat/index.vue
Labels: area/jmanus

#1516 Feature/deepresearch 整合langfuse对Graph运行时内容进行观测
  spring-ai-alibaba-deepresearch/README-zh.md
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
Labels: area/docs, area/deepresearch

#1522 feat(nl2sql): add nl2sql python tool
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/PythonCoderProperties.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/tool/PythonReplTool.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/test/java/com/alibaba/cloud/ai/controller/PythonReplToolTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/test/resources/application-python.yml
Labels: area/nl2sql

#1541 feat(nl2sql): improve nl2sql schema service
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
Labels: area/nl2sql

#1540 fix(graph): enable langfuse input output observation labels
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/GraphObservationLifecycleListener.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/node/DefaultGraphNodeObservationConvention.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/node/GraphNodeObservationContext.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/node/GraphNodeObservationDocumentation.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/observation/node/GraphNodeObservationHandler.java
Labels: area/graph

#1537 feat(jmanus): optimizes prompt to support dynamic changes of console
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/agent/BaseAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/DynamicAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/po/PromptEntity.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/vo/PromptVO.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/repository/PromptRepository.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptDataInitializer.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/creator/PlanCreator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/finalizer/PlanFinalizer.java
Labels: area/jmanus

#1510 refactor(jmanus): readme update
  spring-ai-alibaba-jmanus/README-windows.md
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
  spring-ai-alibaba-jmanus/RoadMap-zh.md
Labels: area/jmanus, area/docs

#1509 feat Jmanus 支持MySQL数据库
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/resources/application-h2.yml
  spring-ai-alibaba-jmanus/src/main/resources/application-mysql.yml
  spring-ai-alibaba-jmanus/src/main/resources/application.yml
Labels: area/jmanus, area/docs

#1544 fix(core): fix image config
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeImageAutoConfiguration.java
Labels: area/core

#1451 feat(deepresearch): support users in carrying mcp tools
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/McpAssignNodeConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/McpProviderFactory.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Mcp/McpClientUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Mcp/McpConfigMergeUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
Labels: area/deepresearch

#1538 feat(deepresearch-ui): ui for deepresearch
  spring-ai-alibaba-deepresearch/ui-vue3/.eslintrc.cjs
  spring-ai-alibaba-deepresearch/ui-vue3/.gitignore
  spring-ai-alibaba-deepresearch/ui-vue3/.prettierrc.json
  spring-ai-alibaba-deepresearch/ui-vue3/README-zh.md
  spring-ai-alibaba-deepresearch/ui-vue3/README.md
  spring-ai-alibaba-deepresearch/ui-vue3/cypress.config.ts
  spring-ai-alibaba-deepresearch/ui-vue3/cypress/fixtures/example.json
  spring-ai-alibaba-deepresearch/ui-vue3/cypress/support/commands.ts
  spring-ai-alibaba-deepresearch/ui-vue3/cypress/support/e2e.ts
  spring-ai-alibaba-deepresearch/ui-vue3/env.d.ts
  spring-ai-alibaba-deepresearch/ui-vue3/index.html
  spring-ai-alibaba-deepresearch/ui-vue3/package.json
  spring-ai-alibaba-deepresearch/ui-vue3/public/logo.svg
  spring-ai-alibaba-deepresearch/ui-vue3/public/test.html
  spring-ai-alibaba-deepresearch/ui-vue3/src/App.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/assets/login.jpg
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/constants.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/enums/ProvideInject.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/enums/Storage.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/i18n/index.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/i18n/sortI18n.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/i18n/type.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/base/i18n/zh.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/layout/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/md/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/toolkit/Gap.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/toolkit/Title.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/main.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/router/defaultRoutes.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/router/index.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/AuthStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/ConfigStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/ConversationStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/MessageStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/RouterStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/utils/request.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/utils/scroll.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/utils/stream.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/chat/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/chat/sse.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/config/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/error/notFound.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/login/Login.vue
  spring-ai-alibaba-deepresearch/ui-vue3/tsconfig.app.json
  spring-ai-alibaba-deepresearch/ui-vue3/tsconfig.json
  spring-ai-alibaba-deepresearch/ui-vue3/tsconfig.node.json
  spring-ai-alibaba-deepresearch/ui-vue3/tsconfig.vitest.json
  spring-ai-alibaba-deepresearch/ui-vue3/vite.config.ts
  spring-ai-alibaba-deepresearch/ui-vue3/vitest.config.ts
  tools/linter/license/.licenserc.yaml
Labels: area/infra, area/docs, area/deepresearch

#1570 feat(nl2sql): optimize JSON schema dependencies and clean up
  spring-ai-alibaba-nl2sql/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/dbconnector/DbAccessor.java
Labels: area/nl2sql

#1582 feat(tool-calls): add tencent map weather tool
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tencentmap/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tencentmap/src/main/java/com/alibaba/cloud/ai/toolcalling/tencentmap/TencentMapAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tencentmap/src/main/java/com/alibaba/cloud/ai/toolcalling/tencentmap/TencentMapConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tencentmap/src/main/java/com/alibaba/cloud/ai/toolcalling/tencentmap/TencentMapProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tencentmap/src/main/java/com/alibaba/cloud/ai/toolcalling/tencentmap/TencentMapWeatherService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tencentmap/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tencentmap/src/test/java/com/alibaba/cloud/ai/toolcalling/tencentmap/TencentMapWeatherServiceTest.java
  pom.xml
  spring-ai-alibaba-bom/pom.xml
Labels: area/tools, area/core, area/community

#1588 feat(core): add graalvm native compile support
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/aot/DashScopeAIRuntimeHints.java
  spring-ai-alibaba-core/src/main/resources/META-INF/spring/aot.factories
  spring-ai-alibaba-core/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: area/core

#1561 feat(deepresearch): adding user-defined allowlists and blocklists of website
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-serpapi/src/main/java/com/alibaba/cloud/ai/toolcalling/serpapi/SerpApiService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/request/ChatRequestProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/req/ChatRequest.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/LocalConfigSearchFilterService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/SearchFilterService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/tool/SearchFilterTool.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/SearchBeanUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/researcher.md
  spring-ai-alibaba-deepresearch/src/main/resources/website-weight-config.json
  spring-ai-alibaba-deepresearch/src/test/java/com/alibaba/cloud/ai/example/deepresearch/tool/SearchFilterServiceTest.java
Labels: area/tools, area/deepresearch, area/community

#1581 fix(jmanus): frontend cant show mapreduce
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/agent/BaseAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/DynamicAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/controller/ManusController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/executor/AbstractPlanExecutor.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/executor/MapReducePlanExecutor.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/executor/PlanExecutor.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/finalizer/PlanFinalizer.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/PlanExecutionRecorder.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/RepositoryPlanExecutionRecorder.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/entity/AgentExecutionRecord.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/entity/PlanExecutionRecord.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/entity/ThinkActRecord.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/innerStorage/InnerStorageContentTool.java
Labels: area/jmanus

#1592 feat(deepresearch): Adjust the structure of the obs…
  spring-ai-alibaba-deepresearch/src/main/resources/application-observability.yml
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
Labels: area/deepresearch

#1594 style(deepresearch): fix deepsearch yml style
  spring-ai-alibaba-deepresearch/src/main/resources/application-observability.yml
Labels: area/deepresearch

#1600 feat(nl2sql): add nl2sql ollama doc
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/README.md
Labels: area/docs, area/nl2sql

#1577 feat(jmanus): jmanus support PostgreSQL
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptDataInitializer.java
  spring-ai-alibaba-jmanus/src/main/resources/application-h2.yml
  spring-ai-alibaba-jmanus/src/main/resources/application-mysql.yml
  spring-ai-alibaba-jmanus/src/main/resources/application-postgres.yml
  spring-ai-alibaba-jmanus/src/main/resources/application.yml
Labels: area/jmanus, area/docs

#1564 fix(memories): resolve the issue where the starter component that introduces memory and Redis still cannot use Redis as memory
  community/memories/spring-ai-alibaba-starter-memory-redis/pom.xml
Labels: area/community, area/memory

#1609 feat(nl2sql): support stream response
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/constant/Constant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/KeywordExtractNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/PythonExecuteNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/QueryRewriteNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/ReportGeneratorNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SchemaRecallNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SemanticConsistencNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlExecuteNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlGenerateNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlValidateNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/TableRelationNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/schema/ColumnDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/schema/TableDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/util/ChatResponseUtil.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/Application.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AnalyticNl2SqlController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/HomeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SimpleChatController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/static/nl2sql.html
Labels: area/nl2sql

#1611 feat(jmanus): translate Chinese comments to English in ui-vue3/src/base/ and ui-vue3/src/components/
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/components/chat/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/input/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/plan-execution/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/select/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/sidebar/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/tool-selection-modal/index.vue
Labels: area/jmanus

#1619 feat(nl2sql): add HTTP examples for NL2SQL
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/resources/application.yml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/README.md
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/nl2sql-management.http
Labels: area/docs, area/nl2sql

#1604 fix(graph): correct dsl in graph studio readme
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/README.md
Labels: area/graph, area/docs

#1572 feat(memories): add memory module support for MongoDB
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/MongoDBChatMemoryAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/MongoDBChatMemoryProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/memories/spring-ai-alibaba-starter-memory-mongodb/README.md
  community/memories/spring-ai-alibaba-starter-memory-mongodb/pom.xml
  community/memories/spring-ai-alibaba-starter-memory-mongodb/src/main/java/com/alibaba/cloud/ai/memory/mongodb/MongoDBChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-mongodb/src/test/java/mongodb/MongoDBChatMemoryRepositoryIT.java
  pom.xml
Labels: area/docs, area/core, area/community, area/memory

#1632 feat(jmanus): translate Chinese comments to English in ui-vue3/src/view
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/agentConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/basicConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/mcpConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/modelConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/direct/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/home/index.vue
Labels: area/jmanus

#1630 feat(jmanus): Add a namespace function
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/controller/AgentController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/entity/DynamicAgentEntity.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/repository/DynamicAgentRepository.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentConfig.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/DynamicAgentLoader.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/DynamicAgentScanner.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/controller/PromptController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/repository/PromptRepository.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptDataInitializer.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/service/PromptServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/resources/application.yml
Labels: area/jmanus

#1636 feat(core): update image api params
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeImageApi.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/common/DashScopeApiConstants.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/api/DashScopeImageApiTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/image/observation/DashScopeImageModelObservationITests.java
  spring-ai-alibaba-studio/src/main/java/com/alibaba/cloud/ai/service/impl/ChatModelDelegateImpl.java
Labels: area/core, area/studio

#1635 feat(core): update dashscope chat api params
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApi.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModel.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/api/DashScopeAiStreamFunctionCallingHelperTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModelTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeMultiModalChatTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/metadata/DashScopeAiUsageTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/rerank/DashScopeRerankModelTests.java
Labels: area/core

#1656 feat(mcp): update Nacos mcp register logic
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/registry/NacosMcpRegister.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/registry/NacosMcpRegistryProperties.java
Labels: area/mcp

#1662 feat(core): update chat api params and fix ci
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeVideoAutoConfiguration.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeAiStreamFunctionCallingHelper.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApi.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeVideoApi.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModel.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/video/DashScopeVideoModel.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/api/DashScopeAiStreamFunctionCallingHelperTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/api/DashScopeImageApiTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModelTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeMultiModalChatTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/rerank/DashScopeRerankModelTests.java
Labels: area/core

#1685 feat(jmanus): fix i18n adaptation
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/zh.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/basicConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/direct/index.vue
Labels: area/jmanus

#1641 fix(graph): repair error description
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/resources/application.yml
Labels: area/graph

#1704 feat(nl2sql): add example html
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/BusinessKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SemanticModelController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/BusinessKnowledge.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/SemanticModel.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/BusinessKnowledgeService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/SemanticModelService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/static/business-knowledge.html
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/static/nl2sql.html
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/static/semantic-model.html
Labels: area/nl2sql

#1708 fix(jmanus): add namespace handling and default namespace logic
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentServiceImpl.java
Labels: area/jmanus

#1707 feat(core): add Recursive Character Text Splitter
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/transformer/splitter/RecursiveCharacterTextSplitter.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/transformer/splitter/RecursiveCharacterTextSplitterTest.java
Labels: area/core

#1532 fix(vector-stores): fixed OpenSearchVectorStore.Builder#build 无限递归问题
  community/vector-stores/spring-ai-alibaba-starter-opensearch-store/src/main/java/com/alibaba/cloud/ai/vectorstore/opensearch/OpenSearchVectorStore.java
Labels: area/community

#1720 feat(core): add DashScopeDocumentAnalysisAdvisor for document analysis
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/advisor/DashScopeDocumentAnalysisAdvisor.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/advisor/DashScopeDocumentAnalysisAdvisorTest.java
  spring-ai-alibaba-core/src/test/resources/test-file.pdf
Labels: area/core

#1628 feat(mcp): recovery client
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/McpRecoveryAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  pom.xml
  spring-ai-alibaba-mcp/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/McpAsyncRecovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/McpSyncRecovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/CommonUtil.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/McpAsyncClientWrapper.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/McpReconnectTask.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/McpSyncClientWrapper.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/config/McpRecoveryProperties.java
  spring-ai-alibaba-spring-boot-starters/spring-ai-alibaba-starter-mcp-recovery-client/pom.xml
Labels: area/mcp, area/core

#1627 feat(graph): graph stream observation
  pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncCommandAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncEdgeAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncNodeAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncNodeActionWithConfig.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/node/ParallelNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/StreamingChatGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
Labels: area/graph

#1686 chore(nl2sql): fix SEMANTIC_CONSISTENC_NODE SEMANTIC_CONSISTENCY_NODE
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/README.md
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/constant/Constant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dispatcher/SQLExecutorDispatcher.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dispatcher/SemanticConsistenceDispatcher.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dispatcher/SqlValidateDispatcher.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SemanticConsistencyNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlGenerateNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptConstant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptHelper.java
Labels: area/docs, area/nl2sql

#1697 feat(jmanus): add database use
  .gitignore
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/RepositoryPlanExecutionRecorder.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/DataSourceService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/DatabaseConfigConstants.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/DatabaseConfigParser.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/DatabaseRequest.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/DatabaseUseStartupListener.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/DatabaseUseTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/action/AbstractDatabaseAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/action/ExecuteSqlAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/action/GetDatasourceInfoAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/action/GetTableIndexAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/action/GetTableMetaAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/action/GetTableNameAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/meta/ColumnMeta.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/meta/IndexMeta.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/meta/TableMeta.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/database/sql/DatabaseSqlGenerator.java
  spring-ai-alibaba-jmanus/src/main/resources/application-database-tool.yml
  spring-ai-alibaba-jmanus/src/main/resources/application.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/database_agent/agent-config.yml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/schema/ExecutionStep.java
Labels: area/jmanus, area/infra, area/nl2sql

#1729 feat(jmanus): completed i18n translation adaptation for time, namespace, and modal dialogs.
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/zh.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/components/sidebar/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/basicConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/components/namespaceSwitch.vue
Labels: area/jmanus

#1728 refactor(core): 优化文档分析顾问的提示模板，提高文档解析的稳定性
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/advisor/DashScopeDocumentAnalysisAdvisor.java
Labels: area/core

#1739 refactor(nl2sql): remove unused page endpoints from SemanticModelController
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/BusinessKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/HomeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SemanticModelController.java
Labels: area/nl2sql

#1743 feat(nl2sql): add ConditionalOnADBEnabled annotation
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/config/ConditionalOnADBEnabled.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AnalyticNl2SqlController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AnalyticDbVectorStoreManagementService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/SimpleVectorStoreManagementService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
Labels: area/nl2sql

#1422 fix(graph): 递归process以支持多层嵌套子图
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/SubGraphTest.java
Labels: area/graph

#1748 feat(jmanus): added a button to navigate to the direct page, incorporated plan-act mode cards, and fixed several component issues.
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/zh.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/components/blurCard/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/home/index.vue
Labels: area/jmanus

#1610 feat(deepresearch): add mutiagent and this is a non-intrusive feature
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/SmartAgentProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/AgentDispatchResult.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/AgentSelectionResult.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/AgentType.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/SearchPlatform.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/mutiagent/QuestionClassifierService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/mutiagent/SearchPlatformSelectionService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/mutiagent/SmartAgentDispatcherService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/mutiagent/SmartAgentSelectionHelperService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Multiagent/AgentIntegrationUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Multiagent/AgentPromptTemplateUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Multiagent/SmartAgentUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/mutiagent/academic-researcher.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/mutiagent/classifier.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/mutiagent/data-analysis.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/mutiagent/encyclopedia.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/mutiagent/lifestyle-travel.md
Labels: area/deepresearch

#1749 test(nl2sql): simplevectorstoreservice test add
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreServiceTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/dbconnector/DbAccessor.java
Labels: area/nl2sql

#1756 fix(jmanus): remove bash usage in default agent by default
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/default_agent/agent-config.yml
Labels: area/jmanus

#1757 feat(jmanus): support smart context compress for mcp tools
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/mcp/model/vo/McpTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
Labels: area/jmanus

#1763 refactor(mcp): refactor register and discovery
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-client/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpClientAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpSseClientProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpToolCallbackAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpTransportBuilderAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-register/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-register/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/register/NacosMcpRegisterAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-register/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-register/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  pom.xml
  spring-ai-alibaba-bom/pom.xml
  spring-ai-alibaba-mcp/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-common/src/main/java/com/alibaba/cloud/ai/mcp/nacos/NacosMcpProperties.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-gateway/spring-ai-alibaba-mcp-gateway-core/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-gateway/spring-ai-alibaba-mcp-gateway-nacos/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-register/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-register/src/main/java/com/alibaba/cloud/ai/mcp/register/NacosMcpRegister.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-register/src/main/java/com/alibaba/cloud/ai/mcp/register/NacosMcpRegisterProperties.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-register/src/main/java/com/alibaba/cloud/ai/mcp/register/utils/JsonSchemaUtils.java
  spring-ai-alibaba-spring-boot-starters/spring-ai-alibaba-starter-nacos-mcp-discovery/pom.xml
  spring-ai-alibaba-spring-boot-starters/spring-ai-alibaba-starter-nacos-mcp-register/pom.xml
Labels: area/mcp, area/core

#1710 feat(deepresearch): abstract "search" && add site icon
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-aliyunaisearch/src/main/java/com/alibaba/cloud/ai/toolcalling/aliyunaisearch/AliyunAiSearchService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-baidusearch/src/main/java/com/alibaba/cloud/ai/toolcalling/baidusearch/BaiduSearchService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-bravesearch/src/main/java/com/alibaba/cloud/ai/toolcalling/bravesearch/BraveSearchService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-common/src/main/java/com/alibaba/cloud/ai/toolcalling/common/interfaces/SearchService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-serpapi/src/main/java/com/alibaba/cloud/ai/toolcalling/serpapi/SerpApiService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tavilysearch/src/main/java/com/alibaba/cloud/ai/toolcalling/tavily/TavilySearchService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tavilysearch/src/test/java/com/alibaba/cloud/ai/toolcalling/tavily/TavilySearchServiceTest.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/InfoCheckService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/SearchInfoService.java
  spring-ai-alibaba-deepresearch/src/main/resources/model-config.json
  spring-ai-alibaba-deepresearch/src/test/java/com/alibaba/cloud/ai/example/deepresearch/tool/SearchFilterServiceTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/node/TavilySearchNode.java
Labels: area/tools, area/graph, area/deepresearch, area/community

#1769 test(nl2sql): add unit test
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/util/DateTimeUtil.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/util/MarkdownParser.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/util/DateTimeUtilTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/util/MarkdownParserTest.java
Labels: area/nl2sql

#1774 feat(graph): add AssignerNode
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/AssignerNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/node/AssignerNodeTest.java
Labels: area/graph

#1688 chore(studio): fix typos
  spring-ai-alibaba-studio/ui/.env.development
  spring-ai-alibaba-studio/ui/.env.production
Labels: area/studio

#1631 feat(jmanus): support refresh agent client and config headers
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/DynamicAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/controller/ModelController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/entity/DynamicModelEntity.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/entity/MapToStringConverter.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/model/vo/ModelConfig.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/service/ModelDataInitialization.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/service/ModelServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/event/JmanusEvent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/event/JmanusEventPublisher.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/event/JmanusListener.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/event/JmanusListenerRegister.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/event/ModelChangeEvent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/ILlmService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/LlmService.java
  spring-ai-alibaba-jmanus/ui-vue3/src/api/model-api-service.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/zh.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/modelConfig.vue
Labels: area/jmanus

#1779 feat(jmanus): update readme
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
Labels: area/jmanus, area/docs

#1787 feat(mcp): mcp router
  spring-ai-alibaba-mcp/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/README.md
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/McpRouterApplication.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/OpenMeteoService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/config/EmbeddingModelConfig.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/config/McpRouterConfig.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/config/RouterWatcherConfig.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/controller/McpRouterController.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/AbstractRouterWatcher.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/McpRouterWatcher.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/discovery/McpServiceDiscovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/vectorstore/McpServerVectorStore.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/vectorstore/SimpleMcpServerVectorStore.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/model/McpServerInfo.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/nacos/NacosMcpServiceDiscovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/service/McpRouterManagementService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/resources/application-dev.yml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/resources/application.yml
Labels: area/mcp, area/docs

#1783 feat(jmanus): update readme.md
  spring-ai-alibaba-jmanus/README.md
Labels: area/jmanus, area/docs

#1770 feat(nl2sql): delete adb use saa adb starter
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/analytic/AnalyticVectorStoreService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/analyticdb/AdVectorFilterExpressionConverter.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/analyticdb/AnalyticDbConfig.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/analyticdb/AnalyticDbVectorStore.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/analyticdb/AnalyticDbVectorStoreProperties.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/config/AnalyticDbVectorStoreAutoConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/Application.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AnalyticDbVectorStoreManagementService.java
Labels: area/nl2sql

#1790 perf(nl2sql): optimize keyword extraction by using parall…
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/KeywordExtractNode.java
Labels: area/nl2sql

#1811 fix(jmanus): fixed warnings related to front-end scheduled tasks.
  spring-ai-alibaba-jmanus/ui-vue3/src/components/cron-task-modal/TaskDetailModal.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/cron-task-modal/index.vue
Labels: area/jmanus

#1798 feat(tool-calls): add Google Scholar search tool
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googlescholar/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googlescholar/src/main/java/com/alibaba/cloud/ai/toolcalling/googlescholar/GoogleScholarAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googlescholar/src/main/java/com/alibaba/cloud/ai/toolcalling/googlescholar/GoogleScholarConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googlescholar/src/main/java/com/alibaba/cloud/ai/toolcalling/googlescholar/GoogleScholarProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googlescholar/src/main/java/com/alibaba/cloud/ai/toolcalling/googlescholar/GoogleScholarService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googlescholar/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googlescholar/src/test/java/com/alibaba/cloud/ai/toolcalling/googlescholar/GoogleScholarTest.java
  pom.xml
  spring-ai-alibaba-bom/pom.xml
Labels: area/tools, area/core, area/community

#1816 fix(deepresearch): error get of site_info
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
Labels: area/deepresearch

#1815 fix(jmanus): fix the issue where openai configuration does not support custom perfectionsPath and embeddingsPath configurations
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/LlmService.java
Labels: area/jmanus

#1818 perf(core): adjust media content sort
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModel.java
Labels: area/core

#1821 feat(tool-calls): add metaso search tool
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-metaso/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-metaso/src/main/java/com/alibaba/cloud/ai/toolcalling/metaso/MetasoAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-metaso/src/main/java/com/alibaba/cloud/ai/toolcalling/metaso/MetasoConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-metaso/src/main/java/com/alibaba/cloud/ai/toolcalling/metaso/MetasoProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-metaso/src/main/java/com/alibaba/cloud/ai/toolcalling/metaso/MetasoService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-metaso/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-metaso/src/test/java/com/alibaba/cloud/ai/toolcalling/metaso/MetasoServiceTest.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-searches/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-searches/src/main/java/com/alibaba/cloud/ai/toolcalling/searches/SearchEnum.java
  pom.xml
  spring-ai-alibaba-bom/pom.xml
Labels: area/tools, area/community

#1825 feat(deepresearch): adapt front
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/enums/NodeNameEnum.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/enums/StreamNodePrefixEnum.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ReporterNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
Labels: area/deepresearch

#1778 feat(graph): add IterationNode and support dify dsl
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/IterationNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/node/IterationNodeTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/NodeType.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/nodedata/EmptyNodeData.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/nodedata/IterationNodeData.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/adapters/DifyDSLAdapter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/EmptyNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/IterationNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/EmptyNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/IterationNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/templates/GraphBuilder.java.mustache
Labels: area/graph

#1827 feat(tool-calls): add a Wikipedia search tool
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-wikipedia/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-wikipedia/src/main/java/com/alibaba/cloud/ai/toolcalling/wikipedia/WikipediaAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-wikipedia/src/main/java/com/alibaba/cloud/ai/toolcalling/wikipedia/WikipediaConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-wikipedia/src/main/java/com/alibaba/cloud/ai/toolcalling/wikipedia/WikipediaProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-wikipedia/src/main/java/com/alibaba/cloud/ai/toolcalling/wikipedia/WikipediaService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-wikipedia/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-wikipedia/src/test/java/com/alibaba/cloud/ai/toolcalling/wikipedia/WikipediaServiceTest.java
  pom.xml
  spring-ai-alibaba-bom/pom.xml
Labels: area/tools, area/core, area/community

#1836 feat(graph): StreamingOutput增强，增加 ChatResponse 属性以获取完整响应
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/StreamingChatGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/StreamingOutput.java
Labels: area/graph

#1843 fix(deepresearch): enable researchTeam error handling mechanism
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ParallelExecutorNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearchTeamNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
Labels: area/deepresearch

#1847 fix(graph): update readme.md typo
  .github/workflows/greeting-guideline-pr.yml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/README.md
Labels: area/graph, area/infra, area/docs

#1859 feat(deepresearch): fix readme.md
  spring-ai-alibaba-deepresearch/ui-vue3/README-zh.md
  spring-ai-alibaba-deepresearch/ui-vue3/README.md
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/html/index.vue
Labels: area/docs, area/deepresearch

#1390 feat(memory, vector-stores): add tablestore
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/TablestoreChatMemoryAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/TablestoreChatMemoryProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/memories/spring-ai-alibaba-starter-memory-tablestore/README.md
  community/memories/spring-ai-alibaba-starter-memory-tablestore/pom.xml
  community/memories/spring-ai-alibaba-starter-memory-tablestore/src/main/java/com/alibaba/cloud/ai/memory/tablestore/MessageUtils.java
  community/memories/spring-ai-alibaba-starter-memory-tablestore/src/main/java/com/alibaba/cloud/ai/memory/tablestore/TablestoreChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-tablestore/src/test/java/com/alibaba/cloud/ai/memory/tablestore/EnvUtil.java
  community/memories/spring-ai-alibaba-starter-memory-tablestore/src/test/java/com/alibaba/cloud/ai/memory/tablestore/TablestoreChatMemoryRepositoryTest.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/README.md
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/pom.xml
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/main/java/com/alibaba/cloud/ai/vectorstore/tablestore/TablestoreExpressionConverter.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/main/java/com/alibaba/cloud/ai/vectorstore/tablestore/TablestoreVectorStore.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/main/java/com/alibaba/cloud/ai/vectorstore/tablestore/Utils.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tablestore/EnvUtil.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tablestore/TablestoreVectorStoreTest.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tablestore/TestEmbedding.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tablestore/example/FakedEmbeddingService.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tablestore/example/KnowledgeExample.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tablestore/example/KnowledgeStoreInitExample.java
  community/vector-stores/spring-ai-alibaba-starter-tablestore-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tablestore/example/TablestoreVectorStoreExample.java
  pom.xml
  spring-ai-alibaba-bom/pom.xml
  spring-ai-alibaba-spring-boot-starters/spring-ai-alibaba-starter-memory/pom.xml
  tools/linter/codespell/.codespell.ignorewords
Labels: area/infra, area/docs, area/core, area/community, area/memory

#1854 feat(jmanus): support fastjson and jackson serialize
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/controller/AgentController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/DynamicAgentLoader.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/DynamicAgentScanner.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/namespace/entity/NamespaceEntity.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/po/PromptEntity.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/coordinator/EnhancedPlanningCoordinator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/coordinator/PlanningCoordinator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/JManusSpringEnvironmentHolder.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/SerializeType.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/converter/StringAttributeConverter.java
  spring-ai-alibaba-jmanus/src/main/resources/application.yml
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/_plugin-vue_export-helper-CbQ5wLF-.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/_plugin-vue_export-helper-w9WVOjBt.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/cssMode-B_FCp6wK.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/freemarker2-f2mNn-pc.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/handlebars-AiWYT-TZ.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/html-BkX0pJQz.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/htmlMode-BEhTzKNr.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-BP5MzSje.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-DO2yvTzX.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-DtEzMZLJ.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-Dyywgn9d.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-VlvMYK3B.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-Zv3rZChw.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/javascript-Bm8fAcD0.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/jsonMode-BQ7PoCj7.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/liquid-Di7HJP6a.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/mdx-Dwx4hFFi.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/notFound-CdQ4luKg.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/notFound-D-KIFCr_.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/python-CjofsUD8.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/razor-G6Dp5_EN.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/sidebar-Bn6QXcXm.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/sidebar-CKAUYPfb.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/tsMode-CS0Qta5C.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/typescript-CfgPU9pV.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/useToast-DcLW9azh.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/useToast-Dk4yxrfJ.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/xml-8Nta9kHT.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/yaml-ciI6mc1T.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/index.html
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
Labels: area/jmanus, area/nl2sql

#1881 feat(nl2sql): improve nl2sql web
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/BusinessKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/BusinessKnowledgePersistenceController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/DatasourceController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SemanticModelController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SemanticModelPersistenceController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/Agent.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/AgentDatasource.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/AgentKnowledge.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/ApiResponse.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/BusinessKnowledge.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/BusinessKnowledgeDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/Datasource.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/SemanticModel.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/SemanticModelDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentKnowledgeService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/BusinessKnowledgePersistenceService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/DatasourceService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/SemanticModelPersistenceService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/SemanticModelService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/data.sql
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/schema.sql
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/App.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/components/AgentDebugPanel.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/main.js
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/styles/global.css
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/utils/api.js
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentDetail.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentList.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentWorkspace.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/CreateAgent.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/SemanticModel.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/TestPage.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/vite.config.js
Labels: area/nl2sql

#1884 chore(nl2sql): improve yml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
Labels: area/nl2sql

#1848 feat(nl2sql): reserve nl2sql api
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/Nl2SqlService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2SqlController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/static/nl2sql.html
Labels: area/nl2sql

#1891 fix(jmanus): fix many to many exception
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/entity/DynamicModelEntity.java
Labels: area/jmanus

#1837 feat(mcp): implement MCP trace exchange filter with auto-config #1835
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/tracing/McpTracingAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/mcp/transport/StreamableHttpClientTransport.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-common/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-common/src/main/java/com/alibaba/cloud/ai/mcp/common/tracing/McpTraceExchangeFilterFunction.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-discovery/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/builder/WebFluxSseClientTransportBuilder.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-discovery/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/transport/LoadbalancedMcpAsyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-discovery/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/transport/LoadbalancedMcpSyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-discovery/src/test/java/com/alibaba/cloud/ai/mcp/discovery/tracing/McpTracingComprehensiveTest.java
  spring-ai-alibaba-studio/src/main/java/com/alibaba/cloud/ai/tracing/GlobalResponseBodyAdvice.java
  spring-ai-alibaba-studio/src/main/java/com/alibaba/cloud/ai/tracing/TraceIdInterceptor.java
Labels: area/mcp, area/jmanus, area/core, area/studio

#1867 chore(deepresearch): fix typos
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/test/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeAutoConfigurationIT.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-discovery/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpClientAutoConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/AgentDispatchResult.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/AgentSelectionResult.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/AgentType.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/mutiagent/SearchPlatform.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/QuestionClassifierService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/SearchPlatformSelectionService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/SmartAgentDispatcherService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/SmartAgentSelectionHelperService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Multiagent/AgentIntegrationUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Multiagent/AgentPromptTemplateUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Multiagent/SmartAgentUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/multiagent/academic-researcher.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/multiagent/classifier.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/multiagent/data-analysis.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/multiagent/encyclopedia.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/multiagent/lifestyle-travel.md
  spring-ai-alibaba-studio/src/main/java/com/alibaba/cloud/ai/api/PromptsAPI.java
Labels: area/core, area/studio, area/deepresearch

#1904 feat(graph): core rc
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/DeepResearchStateSerializer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/HasMetadata.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/KeyStrategy.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/KeyStrategyFactoryBuilder.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/RunnableConfig.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/StateGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/AsyncGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/checkpoint/Checkpoint.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/checkpoint/savers/FileSystemSaver.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/checkpoint/savers/MemorySaver.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/node/ParallelNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/serializer/Serializer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/serializer/plain_text/PlainTextStateSerializer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/serializer/plain_text/jackson/JacksonStateSerializer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/state/strategy/MergeStrategy.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/CollectionsUtils.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/LifeListenerUtil.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/TryFunction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/KeyStrategyFactoryBuilderTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphFileSystemSaverTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/async/AsyncGeneratorTest.java
Labels: area/graph, area/deepresearch

#1902 feat(jmanus): support backend error display in chat boxes and global exception handling
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/DynamicAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/event/PlanExceptionEvent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/exception/PlanException.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/exception/handler/GlobalExceptionHandler.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/StreamingResponseHandler.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/controller/ManusController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/creator/PlanCreator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/finalizer/PlanFinalizer.java
  spring-ai-alibaba-jmanus/ui-vue3/src/api/common-api-service.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/components/chat/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/utils/plan-execution-manager.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/views/direct/index.vue
Labels: area/jmanus

#1892 chore(core): update comment
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/javascript/NodeJsTemplateTransformer.java
Labels: area/graph

#1866 feat(graph): refine KnowledgeRetrievalNode for graph studio
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/KnowledgeRetrievalNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/nodedata/KnowledgeRetrievalNodeData.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/KnowledgeRetrievalNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/KnowledgeRetrievalNodeSection.java
Labels: area/graph

#1915 fix(graph): improve async node action
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncNodeAction.java
Labels: area/graph

#1916 fix(jmanus): fix jmanus promptService is null
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/FormInputTool.java
Labels: area/jmanus

#1922 feat(jmanus): add windows build vue filev
  spring-ai-alibaba-jmanus/build-ui.bat
Labels: area/jmanus

#1920 chore(core): translate comments
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/advisor/DocumentRetrievalAdvisorTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/observation/DashScopeChatModelObservationConventionTests.java
Labels: area/core

#1927 fix(graph): answerNodeSection
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/AnswerNodeSection.java
Labels: area/graph

#1929 fix(nl2sql): remove 'enabled' filed in CodeExecutorProperties
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/CodeExecutorConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/CodeExecutorProperties.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
Labels: area/nl2sql

#1928 fix(jmanus): add root path forwarding to solve the problem of Docker root path being inaccessible
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/config/RedirectController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/config/startUp/AppStartupListener.java
Labels: area/jmanus
