Repository alibaba/spring-ai-alibaba, pull requests merged in 2025-09, with the labels that each got.

#2294 fix(graph): fix graph ci
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphFileSystemSaverTest.java
Labels: area/graph

#2296 fix(core): add agent stream response support
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/BaseAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aRemoteAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/FlowAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/LlmRoutingAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/LoopAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/ParallelAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/SequentialAgent.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/RemoteAgentTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/StreamAgentTest.java
Labels: area/graph

#2299 fix(graph): add JSON annotations to Checkpoint constructor
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/checkpoint/Checkpoint.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphStreamTest.java
Labels: area/graph

#2304 feat(a2a): support a2a server starter.
  .github/workflows/lint-pr-title.yml
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/src/main/java/com/alibaba/cloud/ai/autoconfigure/a2a/server/A2aAgentCardAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/src/main/java/com/alibaba/cloud/ai/autoconfigure/a2a/server/A2aServerAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/src/main/java/com/alibaba/cloud/ai/autoconfigure/a2a/server/A2aServerHandlerAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  pom.xml
  spring-ai-alibaba-a2a/pom.xml
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/pom.xml
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/A2aServerProperties.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/registry/AgentRegistry.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/registry/AgentRegistryService.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/route/A2aRouterProvider.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/route/JsonRpcA2aRouterProvider.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/A2aRequestHandler.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/A2aServerExecutorProvider.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/DefaultA2aServerExecutorProvider.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/GraphAgentExecutor.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/JsonRpcA2aRequestHandler.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/ServerTypeEnum.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/utils/InetUtils.java
  spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-spring-boot-starters/spring-ai-alibaba-starter-a2a-server/pom.xml
Labels: area/graph, area/infra, area/core

#2327 fix(studio): fix the dependency conflict
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-client/pom.xml
Labels: area/studio

#2330 fix(docs): update readme.md typo
  README.md
Labels: area/docs

#2338 fix(nl2sql): 优化 agentId 空值检查
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseNl2SqlService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
Labels: area/nl2sql

#2342 fix(nl2sql): 修复数据转换异常
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/business/BusinessKnowledgeRecallService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/semantic/SemanticModelRecallService.java
Labels: area/nl2sql

#2343 refactor(nl2sql): 优化 SqlExecuteNode 以支持默认数据源配置
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlExecuteNode.java
Labels: area/nl2sql

#2282 feat(core): allow custom options in dashscope embedding model
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/embedding/DashScopeEmbeddingModel.java
Labels: area/core

#2358 Support observability of saa studio
  auto-configurations/spring-ai-alibaba-autoconfigure-arms-observation/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-arms-observation/src/main/java/com/alibaba/cloud/ai/autoconfigure/arms/ArmsAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-arms-observation/src/main/java/com/alibaba/cloud/ai/autoconfigure/arms/ArmsCommonProperties.java
  pom.xml
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/embedding/DashScopeEmbeddingModel.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/tool/observation/ArmsToolCallingObservationConvention.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/KnowledgeRetrievalNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlExecuteNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseNl2SqlService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/business/BusinessKnowledgeRecallService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/semantic/SemanticModelRecallService.java
  spring-ai-alibaba-observation-extension/pom.xml
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/client/prompt/PromptMetadataAwareChatClientObservationConvention.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/constants/MetadataAttributes.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/ChatModelInputObservationHandler.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/ChatModelOutputObservationHandler.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/OpenTelemetrySpanBridge.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/PromptMetadataAwareChatModelObservationConvention.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/semconv/InputOutputModel.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/semconv/InputOutputUtils.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/semconv/MessageMode.java
  spring-ai-alibaba-observation-extension/src/main/resources/application.properties
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/services/appManage.ts
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/pom.xml
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/format/EclipseJdtFormatProjectContributor.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/model/workflow/NodeType.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/model/workflow/nodedata/KnowledgeRetrievalNodeData.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/model/workflow/nodedata/LLMNodeData.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/dsl/AbstractNodeDataConverter.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/dsl/converter/KnowledgeRetrievalNodeDataConverter.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/dsl/converter/LLMNodeDataConverter.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/dsl/converter/RetrieverNodeDataConverter.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/NodeSection.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/sections/KnowledgeRetrievalNodeSection.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/sections/LLMNodeSection.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/utils/ContributorFileUtil.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/utils/ObjectToCodeUtil.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/interceptor/InterceptorConfig.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/resources/application.yml
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/resources/templates/GraphBuilder.java.mustache
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/resources/templates/default-application.yml
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/base/service/impl/AppServiceImpl.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/model/reranker/RerankerOptions.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/org/springframework/ai/vectorstore/SearchRequest.java
Labels: area/graph, area/core, area/studio, area/nl2sql

#2172 fix(studio): problems in judging multi-branch nodes
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/model/workflow/ComparisonOperatorType.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/sections/BranchNodeSection.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/test/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/sections/SaaBranchNodeDecisionTest.java
Labels: area/studio

#2344 fix(core): fix DashScopeChatModel 实例化时参数判空bug
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModel.java
Labels: area/core

#2028 feat(core): upgrade spring-ai to 1.0.1, spring-boot to 3.4.8
  pom.xml
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeMultiModalChatTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/image/observation/DashScopeImageModelObservationITests.java
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
  spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-nl2sql/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/pom.xml
Labels: area/jmanus, area/core, area/deepresearch, area/nl2sql, king/pending

#2353 fix(nl2sql): fix nl2sql TableRelationNode infinite loop(#2341)
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/constant/Constant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dispatcher/TableRelationDispatcher.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/TableRelationNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/dispatcher/TableRelationDispatcherTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/node/TableRelationNodeTest.java
Labels: area/nl2sql

#2206 fix(nl2sql): 修复表不支持联合主键的问题
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreServiceTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/connector/bo/TableInfoBO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AnalyticDbVectorStoreManagementService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/SimpleVectorStoreManagementService.java
Labels: area/nl2sql

#2340 fix(nl2sql): 修正实体类字段映射与数据库schema不一致
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/BusinessKnowledge.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/SemanticModel.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/BusinessKnowledgeMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/SemanticModelMapper.java
Labels: area/nl2sql

#2395 fix(nl2sql): modify the primary key processing logic to support list …
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
Labels: area/nl2sql

#2388 fix(mcp): 修复 Nacos MCP Gateway 解析 Nacos MCP 模版的若干问题
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-common/src/main/java/com/alibaba/cloud/ai/mcp/nacos/service/NacosMcpOperationService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/gateway/core/jsontemplate/RequestTemplateInfo.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/gateway/core/jsontemplate/RequestTemplateParser.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/gateway/nacos/callback/NacosMcpGatewayToolCallback.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/gateway/nacos/provider/NacosMcpAsyncGatewayToolsProvider.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/gateway/nacos/provider/NacosMcpSyncGatewayToolsProvider.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/gateway/nacos/watcher/NacosMcpGatewayToolsWatcher.java
Labels: area/mcp

#2384 refactor(studio): improve date parsing error handling
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/utils/common/DateUtils.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/test/java/com/alibaba/cloud/ai/studio/core/utils/common/DateUtilsTests.java
Labels: area/studio

#2392 feat(nl2sql): add a manual review function to support
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/constant/Constant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dispatcher/HumanFeedbackDispatcher.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dispatcher/PlanExecutorDispatcher.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/HumanFeedbackNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/PlanExecutorNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/PlannerNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/resources/prompts/planner-nl2sql-only.txt
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/resources/prompts/planner.txt
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentSchemaController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/Agent.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/data.sql
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/schema.sql
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentDetail.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentRun.vue
Labels: area/nl2sql

#2399 feat(mcp): support multi-level data extraction
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/gateway/core/jsontemplate/ResponseTemplateParser.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/test/java/com/alibaba/cloud/ai/mcp/gateway/core/jsontemplate/ResponseTemplateParserTest.java
Labels: area/mcp

#2412 feat(studio): support dsl2saa only Application
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/pom.xml
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/SaaStudioApplication.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/GeneratorApplication.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/controller/GeneratorController.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/sections/KnowledgeRetrievalNodeSection.java
Labels: area/studio

#2413 fix(mcp): 完善 MCP 相关的日志
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-registry/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/transport/LoadbalancedMcpAsyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-registry/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/transport/LoadbalancedMcpSyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-registry/src/main/java/com/alibaba/cloud/ai/mcp/register/NacosMcpRegister.java
Labels: area/mcp

#2408 fix(mcp): 修复发现注册到 nacos 上的 mcp server 时， 无法正确发现 https 协议的 mcp server 的问题
  pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-common/src/main/java/com/alibaba/cloud/ai/mcp/nacos/service/NacosMcpOperationService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-registry/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/transport/LoadbalancedMcpAsyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-registry/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/transport/LoadbalancedMcpSyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-registry/src/main/java/com/alibaba/cloud/ai/mcp/discovery/client/utils/NacosMcpClientUtils.java
Labels: area/mcp

#2416 fix(nl2sql): adapt graph flux stream
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/util/StreamingChatGeneratorUtil.java
Labels: area/nl2sql

#2418 feat(nl2sql): fix path && front
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleNl2SqlService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentPresetQuestionController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentSchemaController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/BusinessKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/BusinessKnowledgePersistenceController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/ChatController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/DatasourceController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/EchoController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2SqlController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/PromptConfigController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SemanticModelController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SemanticModelPersistenceController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SimpleChatController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/package-lock.json
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/utils/api.js
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentList.vue
Labels: area/nl2sql

#2179 fix(graph): HttpNode supports user-defined variable filtering methods.
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/HttpNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/scheduling/ScheduledAgentTask.java
Labels: area/graph

#2422 fix(nl2sql): supports stream processing and human feedback inspection
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/HumanFeedbackNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/PlannerNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/util/StateUtils.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/dispatcher/HumanFeedbackDispatcherTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/node/HumanFeedbackNodeTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentRun.vue
Labels: area/nl2sql

#2431 nacos proxy reactagent
  pom.xml
  spring-ai-alibaba-agent-nacos/pom.xml
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosAgentBuilderFactory.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosAgentInjector.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosMcpToolsInjector.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosModelInjector.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosOptions.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosPartenerAgentsInjector.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosPromptInjector.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosReactAgentBuilder.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/ObservationConfigration.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/tools/NacosMcpGatewayToolCallback.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/tools/NacosMcpGatewayToolsInitializer.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/vo/AgentVO.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/vo/McpServersVO.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/vo/MemoryVO.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/vo/ModelVO.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/vo/PartnerAgentsVO.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/vo/PromptVO.java
  spring-ai-alibaba-bom/pom.xml
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/Builder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/DefaultBuilder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/factory/AgentBuilderFactory.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/factory/DefaultAgentBuilderFactory.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/LlmNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/ToolNode.java
Labels: area/graph, area/core

#2433 Fix(graph): fix incremental streaming output in graph
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/NodeExecutor.java
Labels: area/graph

#2432 fix(graph): adapt generator to flux
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/BaseAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aNode.java
Labels: area/graph

#2435 fix(graph): missing first chunk output during stream processing.
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/NodeExecutor.java
Labels: area/graph

#2434 docs(nl2sql): optimize the readme for data source
  spring-ai-alibaba-nl2sql/README.md
  spring-ai-alibaba-nl2sql/img/Snipaste_2025-09-18_14-35-29.jpg
Labels: area/docs, area/nl2sql

#2448 fix(nl2sql): fix docker file
  spring-ai-alibaba-nl2sql/docker-file/Dockerfile-backend
  spring-ai-alibaba-nl2sql/docker-file/docker-compose.yml
Labels: area/nl2sql

#2447 fix(studio): cherry-pick #2358, support observability of saa studio
  auto-configurations/spring-ai-alibaba-autoconfigure-arms-observation/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-arms-observation/src/main/java/com/alibaba/cloud/ai/autoconfigure/arms/ArmsAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-arms-observation/src/main/java/com/alibaba/cloud/ai/autoconfigure/arms/ArmsCommonProperties.java
  pom.xml
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/tool/observation/ArmsToolCallingObservationConvention.java
  spring-ai-alibaba-observation-extension/pom.xml
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/client/prompt/PromptMetadataAwareChatClientObservationConvention.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/constants/MetadataAttributes.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/ChatModelInputObservationHandler.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/ChatModelOutputObservationHandler.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/ObservationMetadataAwareOptions.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/OpenTelemetrySpanBridge.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/PromptMetadataAwareChatModelObservationConvention.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/semconv/InputOutputModel.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/semconv/InputOutputUtils.java
  spring-ai-alibaba-observation-extension/src/main/java/com/alibaba/cloud/ai/observation/model/semconv/MessageMode.java
  spring-ai-alibaba-observation-extension/src/main/resources/application.properties
Labels: area/core

#2460 fix(a2a): a2a session pass-through
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/GraphAgentExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/BaseAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aNodeWithConfig.java
Labels: area/graph

#2464 fix: result empty
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/NodeExecutor.java
Labels: area/graph

#2468 feat(studio): agent schema add
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/docker/middleware/init/mysql/agentscope-schema.sql
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/.umirc.ts
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/i18n/locales/zh-cn.json
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/pages/AgentSchema/index.module.less
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/pages/AgentSchema/index.tsx
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/pages/App/AssistantAppEdit/components/AssistantConfig/index.module.less
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/pages/App/AssistantAppEdit/components/AssistantConfig/index.tsx
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/pages/App/index.tsx
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/request/request.tsx
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/services/agentSchema.ts
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/services/tool.ts
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/types/agentSchema.ts
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/packages/main/src/types/tool.ts
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/controller/AgentSchemaController.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/controller/ToolController.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/base/entity/AgentSchemaEntity.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/base/mapper/AgentSchemaMapper.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/base/service/AgentSchemaService.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/base/service/ToolService.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/base/service/impl/AgentSchemaServiceImpl.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/base/service/impl/ToolServiceImpl.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/core/utils/common/IdGenerator.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/runtime/enums/agent/AgentStatus.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-core/src/main/java/com/alibaba/cloud/ai/studio/runtime/enums/agent/AgentType.java
Labels: area/studio

#2469 chore(deepresearch): fix typos
  spring-ai-alibaba-deepresearch/DeepResearch.http
  spring-ai-alibaba-deepresearch/README-zh.md
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/req/FeedbackRequest.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/HumanFeedbackNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
  spring-ai-alibaba-deepresearch/src/test/resources/application-python_basis.yaml
  spring-ai-alibaba-deepresearch/src/test/resources/application-python_network.yaml
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/chat/index.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/HumanFeedbackNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/Nl2SqlService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/node/HumanFeedbackNodeTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentRun.vue
Labels: area/docs, area/deepresearch, area/nl2sql

#2466 fix(jmanus): add a browser tool test class and fix a bug in HTML-to-Markdown conversion
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/manus/tool/browser/InteractiveElementRegistry.java
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/manus/tool/browser/BrowserUseToolSpringTest.java
Labels: area/jmanus

#2459 fix(jmanus): 优化Jmanus浏览器下载，默认只下载chromium（#2170）
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/manus/OpenManusSpringBootApplication.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/manus/playwright/ManusDriverJar.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/manus/tool/browser/ChromeDriverService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/manus/tool/browser/SpringBootPlaywrightInitializer.java
Labels: area/jmanus

#2236 fix(deepresearch): 修复背景调查节点的查询结果
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
Labels: area/deepresearch

#2231 feat(nl2sql): 在查询中实现时间表达式处理
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/PlannerNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/TableRelationNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptConstant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptHelper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseNl2SqlService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/resources/prompts/time-conversion.txt
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/node/TableRelationNodeTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/service/base/BaseNl2SqlServiceTest.java
Labels: area/nl2sql

#2472 feat(graph): add llm\loop\parallel agent provider
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/format/EclipseJdtFormatProjectContributor.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/agent/impl/LlmRoutingAgentProvider.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/agent/impl/LoopAgentProvider.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/agent/impl/ParallelAgentProvider.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/utils/CodeGenUtils.java
Labels: area/studio

#2475 refactor(nl2sql): add configuration priority and display order functions to support batch enabling/disabling of configurations
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dto/PromptConfigDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/entity/UserPromptConfig.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/UserPromptConfigService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/PromptConfigController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/schema.sql
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/components/PromptOptimizationConfig.vue
Labels: area/nl2sql

#2473 refactor(graph): agentic api v2
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/src/main/java/com/alibaba/cloud/ai/autoconfigure/a2a/server/A2aServerAgentCardAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-a2a-server/src/main/java/com/alibaba/cloud/ai/autoconfigure/a2a/server/A2aServerHandlerAutoConfiguration.java
  spring-ai-alibaba-a2a/spring-ai-alibaba-a2a-common/src/main/java/com/alibaba/cloud/ai/a2a/server/GraphAgentExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/GraphRunner.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/GraphRunnerContext.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/Agent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/AgentTool.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/BaseAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/Builder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/DefaultBuilder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgentWithHuman.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aNodeActionWithConfig.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aNodeWithConfig.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aRemoteAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/FlowAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/LlmRoutingAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/LoopAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/ParallelAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/SequentialAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/builder/FlowAgentBuilder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/builder/FlowGraphBuilder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/node/EnhancedParallelResultAggregator.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/node/RoutingEdgeAction.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/node/TransparentNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/ConditionalGraphBuildingStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/FlowGraphBuildingStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/FlowGraphBuildingStrategyRegistry.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/LoopGraphBuildingStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/ParallelGraphBuildingStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/RoutingGraphBuildingStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/SequentialGraphBuildingStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/BaseGraphExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/MainGraphExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/NodeExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/LlmNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/Messageutils.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/ReActAgent.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/memory/InMemoryMemory.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/memory/Memory.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/message/ContentBlock.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/message/Msg.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/message/MsgRole.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/message/TextBlock.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/model/Model.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/model/OpenAIChatModel.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/tool/Tool.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/tool/ToolCallResultConverter.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/tool/ToolParam.java
  spring-ai-alibaba-graph-core/src/main/java/io/agentscope/core/tool/Toolkit.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/LlmRoutingAgentTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/ParallelAgentIntegrationTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/ReactAgentHookTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/ReactAgentTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/SequentialAgentTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/StreamAgentTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/flow/FlowAgentArchitectureTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/flow/LoopAgentTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/flow/ParallelAgentTest.java
Labels: area/graph, area/core

#2486 chore(core): update image sources in README.md to use URLs
  README.md
Labels: area/docs

#2479 fix(nl2sql): change jdbctemplate to mybatis in services
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/AgentKnowledgeMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/AgentMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/AgentPresetQuestionMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentKnowledgeService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentPresetQuestionService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentService.java
Labels: area/nl2sql

#2504 fix(graph): duplicated messages in state
  spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/GraphRunnerContext.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/OverAllStateBuilder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/MainGraphExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/NodeExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/SerializationUtils.java
Labels: area/graph

#2509 fix(graph): state update issue in ReactAgent
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/GraphRunnerContext.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/executor/NodeExecutor.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/node/ParallelNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/state/strategy/AppendStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/SerializationUtils.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/CompiledSubGraphTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
Labels: area/graph

#2527 feat(core): add thinking_budget
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModel.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatOptions.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatOptionsTests.java
Labels: area/core

#2540 feat(core): fix video retry
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/video/DashScopeVideoModel.java
Labels: area/core

#2529 chore(core): fix typos
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosAgentPromptBuilder.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosOptions.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosPartnerAgentsInjector.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/NacosReactAgentBuilder.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/ObservationConfiguration.java
  spring-ai-alibaba-agent-nacos/src/main/java/com/alibaba/cloud/ai/agent/nacos/config/NacosAgentConfig.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/video/DashScopeVideoOptions.java
Labels: area/core
