Repository alibaba/spring-ai-alibaba, pull requests merged in 2025-06, with the labels that each got.

#1060 ci: add mcp module pr labeler
  tools/ci-config/labeler.yml
Labels: area/infra

#1059 fix: fix name
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/client/tool/LoadbalancedAsyncMcpToolCallback.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/client/tool/LoadbalancedSyncMcpToolCallback.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/client/transport/LoadbalancedMcpAsyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/client/transport/LoadbalancedMcpSyncClient.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos2/src/main/java/com/alibaba/cloud/ai/mcp/nacos2/client/tool/LoadbalancedAsyncMcpToolCallback.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos2/src/main/java/com/alibaba/cloud/ai/mcp/nacos2/client/tool/LoadbalancedSyncMcpToolCallback.java
Labels: area/mcp

#1028 [Feat] add mcp node
  community/document-readers/spring-ai-alibaba-starter-document-reader-gpt-repo/pom.xml
  community/document-readers/spring-ai-alibaba-starter-document-reader-gpt-repo/src/main/java/com/alibaba/cloud/ai/reader/gptrepo/GptRepoDocumentReader.java
  pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/McpNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/mcp/McpAutoConfiguration.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/mcp/McpController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/mcp/OpenMeteoService.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/resources/application.yml
Labels: area/graph, area/community, area/document-reader

#982 重构 Jmanus 前端，提供基于 Vue3 的基本页面布局
  package.json
  spring-ai-alibaba-jmanus/ui-vue3/.eslintrc.cjs
  spring-ai-alibaba-jmanus/ui-vue3/.gitignore
  spring-ai-alibaba-jmanus/ui-vue3/.prettierrc.json
  spring-ai-alibaba-jmanus/ui-vue3/README-zh.md
  spring-ai-alibaba-jmanus/ui-vue3/README.md
  spring-ai-alibaba-jmanus/ui-vue3/cypress.config.ts
  spring-ai-alibaba-jmanus/ui-vue3/cypress/fixtures/example.json
  spring-ai-alibaba-jmanus/ui-vue3/cypress/support/commands.ts
  spring-ai-alibaba-jmanus/ui-vue3/cypress/support/e2e.ts
  spring-ai-alibaba-jmanus/ui-vue3/env.d.ts
  spring-ai-alibaba-jmanus/ui-vue3/index.html
  spring-ai-alibaba-jmanus/ui-vue3/package.json
  spring-ai-alibaba-jmanus/ui-vue3/public/Java-AI.svg
  spring-ai-alibaba-jmanus/ui-vue3/src/App.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/index.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/sortI18n.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/type.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/zh.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/components/blurCard/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/editor/MonacoEditor.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/components/editor/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/flex/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/modal/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/sidebar/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/switch/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/main.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/router/defaultRoutes.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/router/index.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/stores/counter.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/utils/request.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/agentConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/basicConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/toolsConfig.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/error/notFound.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/home/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/views/plan/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/tsconfig.app.json
  spring-ai-alibaba-jmanus/ui-vue3/tsconfig.json
  spring-ai-alibaba-jmanus/ui-vue3/tsconfig.node.json
  spring-ai-alibaba-jmanus/ui-vue3/tsconfig.vitest.json
  spring-ai-alibaba-jmanus/ui-vue3/vite.config.ts
  spring-ai-alibaba-jmanus/ui-vue3/vitest.config.ts
Labels: area/jmanus, area/docs

#1057 feat(ci): upgrade Pull Request title Labeler action.
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/dependbot.yml
  .github/workflows/build-and-test.yml
  .github/workflows/license-check.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/linter.yml
  .github/workflows/pull-request-rebot.yml
  .github/workflows/secret-check.yml
  PMC_MEMBERS.md
  README-ja.md
  README-zh.md
  community/memories/spring-ai-alibaba-starter-memory-jdbc/README.md
  community/tool-calls/README.md
  spring-ai-alibaba-deepresearch/README-zh.md
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/coordinator.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/planner.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/reporter.md
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/researcher.md
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/README.md
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/resources/application.yml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/README.md
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/graph-ui/pnpm-lock.yaml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/graph-ui/src/utils/demo.yaml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/initializr.yml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/openapi.yaml
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/controller/PlanExecutionRecord.md
  spring-ai-alibaba-jmanus/src/main/resources/application.yml
  spring-ai-alibaba-nl2sql/chat/README.md
  spring-ai-alibaba-nl2sql/chat/src/main/resources/application.yml
  spring-ai-alibaba-nl2sql/management/README.md
  spring-ai-alibaba-nl2sql/management/src/main/resources/application.yml
  spring-ai-alibaba-studio/src/main/resources/application.yml
  spring-ai-alibaba-studio/src/main/resources/openapi.yaml
  tools/ci-config/labeler.yml
  tools/github-actions/setup-deps/action.yml
  tools/linter/license/.licenserc.yaml
  tools/linter/markdownlint/markdown_lint_config.yaml
  tools/make/linter.mk
  tools/make/tools.mk
Labels: area/tools, area/graph, area/jmanus, area/infra, area/docs, area/studio, area/deepresearch, area/nl2sql, area/community, area/memory

#1046 The sensitive information filter supports regular expressions
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/main/java/com/alibaba/cloud/ai/toolcalling/sensitivefilter/SensitiveFilterProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/main/java/com/alibaba/cloud/ai/toolcalling/sensitivefilter/SensitiveFilterService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/test/java/com/alibaba/cloud/ai/toolcalling/sensitivefilter/SensitiveFilterAutoConfigurationTest.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/test/java/com/alibaba/cloud/ai/toolcalling/sensitivefilter/SensitiveFilterIntegrationTest.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/test/java/com/alibaba/cloud/ai/toolcalling/sensitivefilter/SensitiveFilterPropertiesTest.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/test/java/com/alibaba/cloud/ai/toolcalling/sensitivefilter/SensitiveFilterServiceTest.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/test/java/com/alibaba/cloud/ai/toolcalling/sensitivefilter/TestApplication.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/test/resources/application-test.yml
Labels: area/tools, area/community

#1078 fix(mcp): fix the bug of different version of mcp servers register to same service in Nacos
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/registry/NacosMcpRegister.java
Labels: area/mcp

#1085 fix: 修复了deepresearch跑不起来，运行报错的问题
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/DeepResearchController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
Labels: area/deepresearch

#1094 Bugfix/0.8.1
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/mcp/service/McpService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/controller/PlanTemplateController.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/service/PlanTemplateService.java
  spring-ai-alibaba-jmanus/src/main/resources/static/js/ui-event-common.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/index.html
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/plan-prompt-generator.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/plan-template-execution-controller.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/plan-template-handler.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/plan-template-list-ui-handler.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/plan-template-main.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/plan-template-manager.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/plan-template.js
  spring-ai-alibaba-jmanus/src/main/resources/static/plan-template/js/run-plan-button.js
Labels: area/jmanus

#967 refactor(pom): tidy up tool-call poms
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-alitranslate/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-amap/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-baidumap/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-baidusearch/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-baidutranslate/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-bingsearch/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-common/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-dingtalk/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-duckduckgo/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-githubtoolkit/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-googletranslate/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jsonprocessor/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-kuaidi100/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-larksuite/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-microsofttranslate/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-regex/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-serpapi/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sinanews/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-tavilysearch/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-time/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-toutiaonews/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-weather/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-youdaotranslate/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-yuque/pom.xml
  community/vector-stores/spring-ai-alibaba-starter-analyticdb-store/pom.xml
  community/vector-stores/spring-ai-alibaba-starter-oceanbase-store/pom.xml
  community/vector-stores/spring-ai-alibaba-starter-opensearch-store/pom.xml
  community/vector-stores/spring-ai-alibaba-starter-tair-store/pom.xml
Labels: area/tools, area/community

#1096 fix(deepresearch): partly fix Issue#1036
  spring-ai-alibaba-deepresearch/README-zh.md
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
Labels: area/docs, area/deepresearch

#1102 feat(deepresearch): Provide the architecture diagram and flowchart
  docs/imgs/202506052122988.png
  docs/imgs/202506052123329.png
  spring-ai-alibaba-deepresearch/README-zh.md
Labels: area/docs, area/deepresearch

#1107 feat(deepresearch): add serializer & improve the resume
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/DeepResearchController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/HumanFeedbackNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearchTeamNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/DeepResearchDeserializer.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/DeepResearchStateSerializer.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/MessageDeserializer.java
Labels: area/deepresearch

#1109 feat(deepresearch): adjust
  spring-ai-alibaba-deepresearch/README-zh.md
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/DeepResearchController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/request/ChatRequestProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
Labels: area/docs, area/deepresearch

#1101 feat(core): improve observability in DashScope image section
  README.md
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/image/DashScopeImageModel.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/image/observation/DashScopeImageModelObservationConvention.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/image/observation/DashScopeImagePromptContentObservationHandler.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/image/observation/DashScopeImageModelObservationITests.java
Labels: area/docs, area/core

#1114 docs(core): update readme
  README-zh.md
  README.md
  docs/imgs/playground.png
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgentWithHuman.java
Labels: area/graph, area/docs

#1066 refactor: Refactored the uploadFile method
  .github/workflows/lint-pr-title.yml
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApi.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApiUploadFileTests.java
Labels: area/infra, area/core

#1068 feat(ci): implementation for github action
  .github/workflows/greeting-guideline-pr.yml
  .github/workflows/invalid-issue-check.yml
  .github/workflows/issue-label.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/remove-stale-pr.yml
  CONTRIBUTING-zh.md
  CONTRIBUTING.md
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-sensitivefilter/src/test/resources/application-test.yml
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/coder.md
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
  spring-ai-alibaba-jmanus/ui-vue3/README-zh.md
  spring-ai-alibaba-jmanus/ui-vue3/README.md
  tools/ci-config/_issue.json_label
  tools/make/linter.mk
Labels: area/tools, area/jmanus, area/infra, area/docs, area/deepresearch, area/community

#1119 fix(document-readers): close Arxiv UT in github ci environment
  .github/workflows/build-and-test.yml
  .github/workflows/lint-pr-title.yml
  community/document-readers/spring-ai-alibaba-starter-document-reader-arxiv/src/test/java/com/alibaba/cloud/ai/reader/arxiv/ArxivClientTest.java
  community/document-readers/spring-ai-alibaba-starter-document-reader-arxiv/src/test/java/com/alibaba/cloud/ai/reader/arxiv/ArxivDocumentReaderTest.java
Labels: area/infra, area/community, area/document-reader

#1106 docs(core): improve quick-start link availability in README.md
  README-zh.md
  README.md
Labels: area/docs

#1120 chore(jmanus): remove useless file
  package.json
  spring-ai-alibaba-jmanus/ui-vue3/package.json
Labels: area/jmanus

#1118 fix(graph): fix getEmbedGenerator state error
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/OverAllState.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/LLmSearchStreamController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/node/ResultNode.java
Labels: area/graph

#1124 feat(graph): multi key stream support
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/LLmSearchStreamController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/node/LLmNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/node/ResultNode.java
Labels: area/graph

#1112 fix(jManus):Improve interactive element retrieval speed
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/InteractiveElement.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/InteractiveElementRegistry.java
Labels: area/jmanus

#1121 feat(deepresearch): refactor
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerFirecrawlServiceImpl.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerJinaServiceImpl.java
  spring-ai-alibaba-deepresearch/README-zh.md
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/request/ChatRequestProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/BackgroundInvestigationType.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNodeAction.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationToolCallsNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoordinatorNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/HumanFeedbackNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ReporterNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearchTeamNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/DeepResearchDeserializer.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/tool/PlannerTool.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/tool/PythonReplTool.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/TemplateUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
Labels: area/tools, area/docs, area/deepresearch, area/community

#1138 feat(graph): llmnode stream support
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/LlmNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
Labels: area/graph

#1134 ReactAgent add preLlmHook postLlmHook preToolHook postToolHook
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/ReactAgentTest.java
Labels: area/graph

#1145 feat(graph): add variableAggregatorNode and unit test
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/VariableAggregatorNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/node/VariableAggregatorNodeTest.java
Labels: area/graph

#1156 fix(deepresearch): the interrupted & structured response of plan&humanFeedback
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/DeepResearchController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/req/ChatRequest.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/HumanFeedbackNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
Labels: area/deepresearch

#1158 feat(jmanus): update read me tov2
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/_plugin-vue_export-helper-DpQjQhkp.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/cssMode-Ctb0Z9n_.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/freemarker2-6JriNtvJ.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/handlebars-BWtATXyS.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/html-C7kmMd6q.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/htmlMode-vPhTgPk8.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-BhLhzutC.css
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-CJ0yKxkG.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-C_JK0w6e.css
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-D3LBIZxH.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-EhPpXa3j.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-LLpUfsKp.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/javascript-C3zzXK9m.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/jsonMode-CG8fqgC0.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/liquid-CuZGPsXw.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/mdx-BKIjSXMO.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/notFound-LVr5N_ZA.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/python-C5ZlDlF-.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/razor-BHhimgyE.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/task-Bm6oXdU2.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/tsMode-D_u4cbol.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/typescript-RX0jFHws.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/xml-CEw4lmVq.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/yaml-DVkU6az3.js
Labels: area/jmanus, area/docs

#1161 fix(deepresearch): 修复research、coder的一些问题
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/DeepResearchController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearchTeamNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
Labels: area/deepresearch

#1162 fix(jmanus): rebuild mcp client when requesting getAvailableTools
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/mcp/service/McpService.java
Labels: area/jmanus

#1169 feat(nl2sql): improve simple nl2sql management
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/VectorStoreService.java
  spring-ai-alibaba-nl2sql/management/src/main/java/com/alibaba/cloud/ai/service/AnalyticDbVectorStoreManagementService.java
  spring-ai-alibaba-nl2sql/management/src/main/java/com/alibaba/cloud/ai/service/SimpleVectorStoreManagementService.java
  spring-ai-alibaba-nl2sql/management/src/main/java/com/alibaba/cloud/ai/service/VectorStoreManagementService.java
Labels: area/nl2sql

#1088 feat(graph): update graph code node java code execute
  pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/CodeExecutorNodeAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/DockerCodeExecutor.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/LocalCommandlineCodeExecutor.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/entity/CodeExecutionConfig.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/entity/CodeLanguage.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/java/JavaTemplateTransformer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/CodeUtils.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/utils/FileUtils.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/resources/lib/jackson-annotations-2.18.3.jar
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/resources/lib/jackson-core-2.18.3.jar
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/resources/lib/jackson-databind-2.18.3.jar
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/node/CodeActionTest.java
Labels: area/graph

#1142 修复ReactAgent UML绘图报错问题,修复ReactAgentWithHuman默认策略为空的问题
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgentWithHuman.java
Labels: area/graph

#1150 feat(jmanus): refine agent system message to improve response relevance.
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/agent/BaseAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/DynamicAgent.java
  spring-ai-alibaba-jmanus/src/main/resources/application.yml
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/example/manus/tool/BrowserUseToolSpringTest.java
Labels: area/jmanus

#1179 feat(graph): metadate support
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/HasMetadata.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/OverAllStateBuilder.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/RunnableConfig.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/StateGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphMemorySaverTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphRepresentationTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/SubGraphTest.java
Labels: area/graph, area/deepresearch

#1186 fix(nl2sql): improve column document retrieval logic
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
Labels: area/nl2sql

#1184 feat(nl2sql): add query rewrite functionality
  spring-ai-alibaba-nl2sql/chat/README.md
  spring-ai-alibaba-nl2sql/chat/img.png
  spring-ai-alibaba-nl2sql/chat/pom.xml
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptConstant.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptHelper.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseNl2SqlService.java
  spring-ai-alibaba-nl2sql/chat/src/main/resources/application.yml
  spring-ai-alibaba-nl2sql/common/src/main/java/com/alibaba/cloud/ai/config/AnalyticDbVectorStoreAutoConfiguration.java
Labels: area/docs, area/nl2sql

#1195 fix(nl2sql): fixforeign key handling and document query logic
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/request/SearchRequest.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/analytic/AnalyticSchemaService.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseVectorStoreService.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleSchemaService.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreService.java
Labels: area/nl2sql

#1181 fix(jmanus): img bug in readme
  spring-ai-alibaba-jmanus/README-zh.md
  spring-ai-alibaba-jmanus/README.md
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/_plugin-vue_export-helper-DpQjQhkp.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/cssMode-Ctb0Z9n_.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/freemarker2-6JriNtvJ.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/handlebars-BWtATXyS.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/html-C7kmMd6q.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/htmlMode-vPhTgPk8.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-BhLhzutC.css
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-CJ0yKxkG.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-C_JK0w6e.css
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-D3LBIZxH.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-EhPpXa3j.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/index-LLpUfsKp.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/javascript-C3zzXK9m.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/jsonMode-CG8fqgC0.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/liquid-CuZGPsXw.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/mdx-BKIjSXMO.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/notFound-LVr5N_ZA.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/python-C5ZlDlF-.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/razor-BHhimgyE.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/task-Bm6oXdU2.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/tsMode-D_u4cbol.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/typescript-RX0jFHws.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/xml-CEw4lmVq.js
  spring-ai-alibaba-jmanus/src/main/resources/static/ui/assets/yaml-DVkU6az3.js
Labels: area/jmanus, area/docs

#1201 fix(nl2sql): remove repeatedly lomobk.
  spring-ai-alibaba-nl2sql/common/pom.xml
Labels: area/nl2sql

#1200 fix(nl2sql): fix multi table column fetch error
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseNl2SqlService.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreService.java
Labels: area/nl2sql

#1189 feat(tool-calls): split the crawler plugin into jina and firecrawl
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-common/src/main/java/com/alibaba/cloud/ai/toolcalling/common/CommonToolCallUtils.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/main/java/com/alibaba/cloud/ai/toolcalling/firecrawl/FireCrawlAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/main/java/com/alibaba/cloud/ai/toolcalling/firecrawl/FireCrawlConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/main/java/com/alibaba/cloud/ai/toolcalling/firecrawl/FireCrawlFormatsEnum.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/main/java/com/alibaba/cloud/ai/toolcalling/firecrawl/FireCrawlModeEnum.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/main/java/com/alibaba/cloud/ai/toolcalling/firecrawl/FireCrawlProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/main/java/com/alibaba/cloud/ai/toolcalling/firecrawl/FireCrawlService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-firecrawl/src/test/java/com/alibaba/cloud/ai/toolcalling/firecrawl/FireCrawlTest.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/src/main/java/com/alibaba/cloud/ai/toolcalling/jinacrawler/JinaCrawlerAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/src/main/java/com/alibaba/cloud/ai/toolcalling/jinacrawler/JinaCrawlerConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/src/main/java/com/alibaba/cloud/ai/toolcalling/jinacrawler/JinaCrawlerProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/src/main/java/com/alibaba/cloud/ai/toolcalling/jinacrawler/JinaCrawlerService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/src/test/java/com/alibaba/cloud/ai/toolcalling/jinacrawler/JinaCrawlerTest.java
  pom.xml
Labels: area/tools, area/community

#1205 feat(deepresearch): deepresearch Dockerfile
  spring-ai-alibaba-deepresearch/Dockerfile
  spring-ai-alibaba-deepresearch/README-zh.md
Labels: area/docs, area/deepresearch

#1207 fix(nl2sql): add httpclient5 dependency for improved HTTP client
  spring-ai-alibaba-nl2sql/common/pom.xml
Labels: area/nl2sql

#1153 fix(ai): AdvisorUtils.onFinishReason Assertion Failures
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModel.java
Labels: area/core

#1208 feat(deepresearch): Optimize auto-configuration of MCP tool callbacks
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/tool/McpClientToolCallbackProvider.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/coder.md
Labels: area/deepresearch

#1211 feat(deepresearch): enable parallel researchTeamNode and parallel stream output
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/dispatcher/CoderDispatcher.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/dispatcher/ResearcherDispatcher.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/dto/Plan.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ParallelExecutorNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearchTeamNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/AsyncGeneratorUtils.java
Labels: area/graph, area/deepresearch

#1217 feat(deepresearch): add crawler to researcher node
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-common/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-common/src/main/java/com/alibaba/cloud/ai/toolcalling/common/JsonParseTool.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/AbstractCrawlerService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerFirecrawlProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerFirecrawlServiceImpl.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerJinaProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerJinaServiceImpl.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/CrawlerServiceException.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/JinaResponse.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/JinaUsage.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/java/com/alibaba/cloud/ai/toolcalling/crawler/UrlValidator.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-crawler/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jinacrawler/src/main/java/com/alibaba/cloud/ai/toolcalling/jinacrawler/JinaCrawlerService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-jsonprocessor/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-time/pom.xml
  pom.xml
  spring-ai-alibaba-bom/pom.xml
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
  spring-ai-alibaba-deepresearch/src/main/resources/prompts/researcher.md
Labels: area/tools, area/core, area/deepresearch, area/community

#1219 feat(graph): impl ProjectContributor to format dsl-graph code
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/config/GraphInitializrConfiguration.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/format/EclipseJdtFormatProjectContributor.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/AnswerNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/DocumentExtractorNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/HttpNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/HumanNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/KnowledgeRetrievalNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/LLMNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/ListOperatorNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/MCPNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/ParameterParsingNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/QuestionClassifierNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/ToolNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/templates/GraphBuilder.java.mustache
Labels: area/graph

#1213 feat(deepresearch): adjust
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/ParallelEnum.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ParallelExecutorNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ReporterNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearchTeamNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
Labels: area/deepresearch

#1173 feat(tool-calls): add Baidu translate unit test
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-baidutranslate/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-baidutranslate/src/main/java/com/alibaba/cloud/ai/toolcalling/baidutranslate/BaiduTranslateService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-baidutranslate/src/test/java/com/alibaba/cloud/ai/toolcalling/baidutranslate/BaiduTranslateTest.java
Labels: area/tools, area/community

#1215 fix(graph): fixed streaming processing of returning generate for multiple identical keys
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/DeepResearchController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/StateGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/AsyncGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/AsyncGeneratorOperators.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/AsyncGeneratorQueue.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/FlowGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/internal/UnmodifiableDeque.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/internal/reactive/GeneratorPublisher.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/internal/reactive/GeneratorSubscriber.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/node/ParallelNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/HttpNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/serializer/plain_text/gson/GsonStateSerializer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/AsyncGeneratorUtils.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/StreamingChatGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/AsyncTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/SerializeTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphStreamTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/plain_text/JacksonSerializerTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/plain_text/jackson/JacksonSerializerTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/stream/LLmNodeAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/LLmSearchStreamController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/node/BaiduSearchNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/stream/node/TavilySearchNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/AbstractNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/NodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/HttpNodeDataConverter.java
  spring-ai-alibaba-studio/src/main/java/com/alibaba/cloud/ai/service/impl/GraphServiceImpl.java
Labels: area/graph, area/studio, area/deepresearch

#1222 fix(graph): fix indexout error
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/AsyncGeneratorUtils.java
Labels: area/graph

#1230 chore(core): unused imports
  CONTRIBUTING-zh.md
  CONTRIBUTING.md
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
Labels: area/infra, area/deepresearch

#1229 feat(core): translate the Chinese comments into English.
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApi.java
Labels: area/core

#1232 fix(nl2sql): convert search results to ArrayList
  spring-ai-alibaba-nl2sql/chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseVectorStoreService.java
Labels: area/nl2sql

#1233 docs(graph): improve graph readme
  spring-ai-alibaba-graph/README-zh.md
  spring-ai-alibaba-graph/README.md
Labels: area/graph, area/docs

#1236 feat(graph): common ways to optimize graph and exception handling
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/DeepResearchController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/StateGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgentWithHuman.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReflectAgent.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/exception/Errors.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/exception/GraphInitKeyErrorException.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/exception/GraphInterruptException.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/exception/NodeInterruptException.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/exception/RunnableErrors.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/edge/Edge.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/HttpNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/HumanNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphStreamTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/ReactAgentTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/bigtool/controller/BigToolController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/mcp/McpController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/openmanus/OpenmanusController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/openmanus/human/OpenmanusHumanController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/react/ReactController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/reflection/ReflectionController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/workflow/CustomerServiceController.java
Labels: area/graph, area/deepresearch

#1246 fix(mcp): name
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-mcp-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/NacosMcpToolCallbackAutoConfiguration.java
Labels: area/core

#1203 feat(jmanus): extracting interactive elements from pages using JavaScript
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/startupAgent/DBrowserAgent.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/TerminateTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/InteractiveElement.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/InteractiveElementRegistry.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/actions/BrowserAction.java
  spring-ai-alibaba-jmanus/src/main/resources/tool/extract-interactive-elements.js
Labels: area/jmanus

#1228 feat(graph): graph studio add project properties
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/config/GraphInitializrConfiguration.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/format/ApplicationYamlContributor.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/GraphAppPropertiesCustomizer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/templates/default-application.yml
Labels: area/graph

#1252 feat(studio): add spring-ai-alibaba-starter-dashscope dependencies in…
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/initializr.yml
Labels: area/graph

#1227 feat(tool-calls): add unit test for weather
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-weather/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-weather/src/test/java/com/alibaba/cloud/ai/toolcalling/weather/WeatherServiceTest.java
Labels: area/tools, area/community

#1250 feat(tool-calls): add Youdao translate unit test
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-youdaotranslate/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-youdaotranslate/src/test/java/com/alibaba/cloud/ai/toolcalling/youdaotranslate/YoudaotranslateTest.java
Labels: area/tools, area/community

#1248 set outputKey for QuestionClassifierNode
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/workflow/WorkflowAutoconfiguration.java
Labels: area/graph

#1257 fix(graph): httpNode return complete response
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/HttpNode.java
Labels: area/graph

#1259 fix(jmanus):js cant find
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/InteractiveElementRegistry.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/actions/ClickByElementAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/actions/NavigateAction.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/actions/SwitchTabAction.java
  spring-ai-alibaba-jmanus/ui-vue3/src/views/configs/mcpConfig.vue
Labels: area/jmanus

#1266 fix(graph): replace deprecated method signatures
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/bigtool/controller/BigToolController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/mcp/McpAutoConfiguration.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/openmanus/OpenmanusController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/openmanus/human/OpenmanusHumanController.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/reflection/RelectionAutoconfiguration.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/workflow/WorkflowAutoconfiguration.java
Labels: area/graph

#1270 feat(graph): adapt to the new signature of stateGraph
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/templates/GraphBuilder.java.mustache
Labels: area/graph

#1277 fix(core): update JSON serialization to use UTF-8 encoding
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/DeepResearchStateSerializer.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/serializer/plain_text/jackson/JacksonStateSerializer.java
Labels: area/graph, area/deepresearch

#1274 refactor(graph): remove docker httpclient5
  .github/workflows/build-and-test.yml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-weather/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/tool/PythonReplTool.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/code/DockerCodeExecutor.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/node/code/DockerCodeExecutorTest.java
  tools/github-actions/setup-deps/action.yml
  tools/src/checkstyle/checkstyle.xml
Labels: area/tools, area/graph, area/infra, area/deepresearch, area/community

#1283 fix(graph): graph stream fix
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/async/AsyncGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/AsyncGeneratorUtils.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/StreamingChatGenerator.java
Labels: area/graph

#1220 feature(deepresearch)：The access of the MCP tool for codernode and researchnode
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/McpAssignNodeAutoConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/McpAssignNodeProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/DeepResearchStateSerializer.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/tool/McpClientToolCallbackProvider.java
  spring-ai-alibaba-deepresearch/src/main/resources/META-INF/spring.factories
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
  spring-ai-alibaba-deepresearch/src/main/resources/mcp-config.json
Labels: area/deepresearch

#1282 fix(core): optimize the use of inputStream
  community/document-parsers/spring-ai-alibaba-starter-document-parser-directory/src/main/java/com/alibaba/cloud/ai/parser/directory/DocumentDirectoryParser.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/rag/DashScopeDocumentCloudReader.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-example/src/main/java/com/alibaba/cloud/ai/example/graph/openmanus/tool/DocLoaderTool.java
Labels: area/graph, area/core, area/community

#1223 fix(core): fix the spring.ai.dashscope.chat.enabled=false issue
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeAgentAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeAgentProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeChatAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/resources/META-INF/spring-configuration-metadata.json
Labels: area/core

#1281 feat(tool-calls): add kuaidi100 test
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-kuaidi100/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-kuaidi100/src/test/java/com/alibaba/cloud/ai/toolcalling/kuaidi100/Kuaidi100Test.java
Labels: area/tools, area/community

#1287 fix(deepresearch): correct error param
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
Labels: area/deepresearch

#1291 fix(deepresearch): resolve conflicts
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
Labels: area/deepresearch

#1293 feat(core): add spotless plugin, remove unused imports
  CONTRIBUTING-zh.md
  CONTRIBUTING.md
  pom.xml
  spring-ai-alibaba-bom/pom.xml
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-jmanus/pom.xml
  tools/make/java.mk
Labels: area/jmanus, area/infra, area/core, area/deepresearch

#1298 fix(deepresearch): tool
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentModelsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearchTeamNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
Labels: area/deepresearch

#1301 fix(jmanus): fix code format
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/InteractiveElement.java
Labels: area/jmanus

#1275 chore(jmanus): orrectly open and close drawer
  spring-ai-alibaba-jmanus/ui-vue3/package.json
  spring-ai-alibaba-jmanus/ui-vue3/src/components/chat/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/plan-execution/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/right-panel/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/components/sidebar/index.vue
  spring-ai-alibaba-jmanus/ui-vue3/src/stores/right-panel.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/stores/sidebar.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/views/direct/index.vue
Labels: area/jmanus

#1305 feat(deepresearch): adjust mcp
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/McpAssignNodeAutoConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/McpAssignNodeConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/ObservationConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/McpAssignNodeProperties.java
  spring-ai-alibaba-deepresearch/src/main/resources/META-INF/spring.factories
  spring-ai-alibaba-deepresearch/src/main/resources/application.yml
  spring-ai-alibaba-deepresearch/src/main/resources/mcp-config.json
Labels: area/deepresearch

#1310 fix(core): add `spring-webflux` dependency
  spring-ai-alibaba-core/pom.xml
Labels: area/core

#1311 feat(core): Added support for dimension fields to the embedding model
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/test/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeAutoConfigurationIT.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApi.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/embedding/DashScopeEmbeddingModel.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/embedding/DashScopeEmbeddingModelTests.java
Labels: area/core

#1315 feat(core): add dashscope model options
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeAudioSpeechAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeAudioTranscriptionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeEmbeddingAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeEmbeddingProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeImageAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-dashscope/src/main/java/com/alibaba/cloud/ai/autoconfigure/dashscope/DashScopeRerankAutoConfiguration.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApi.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModel.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatOptions.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/metadata/DashScopeImageGenMetadata.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/api/DashScopeApiTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeChatModelTests.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/dashscope/chat/DashScopeMultiModalChatTests.java
  spring-ai-alibaba-studio/src/main/java/com/alibaba/cloud/ai/service/impl/ChatModelDelegateImpl.java
Labels: area/core, area/studio

#1326 fix(mcp): nacos config properties parse
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos/src/main/java/com/alibaba/cloud/ai/mcp/nacos/NacosMcpProperties.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-nacos2/src/main/java/com/alibaba/cloud/ai/mcp/nacos2/NacosMcpProperties.java
Labels: area/mcp

#1332 docs(nl2sql): update nl2sql readme
  spring-ai-alibaba-nl2sql/chat/README.md
Labels: area/docs, area/nl2sql

#1334 fix(ci): fix spotless build failed on jdk21
  pom.xml
  spring-ai-alibaba-bom/pom.xml
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-nl2sql/pom.xml
  spring-ai-alibaba-studio/pom.xml
Labels: area/jmanus, area/core, area/studio, area/deepresearch, area/nl2sql

#1343 feat(prompt): support to customize promptTemplate builder
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos-prompt/src/main/java/com/alibaba/cloud/ai/autoconfigure/prompt/PromptTemplateAutoConfiguration.java
  spring-ai-alibaba-nl2sql/pom.xml
  spring-ai-alibaba-prompt/spring-ai-alibaba-prompt-nacos/src/main/java/com/alibaba/cloud/ai/prompt/ConfigurablePromptTemplate.java
  spring-ai-alibaba-prompt/spring-ai-alibaba-prompt-nacos/src/main/java/com/alibaba/cloud/ai/prompt/ConfigurablePromptTemplateFactory.java
  spring-ai-alibaba-prompt/spring-ai-alibaba-prompt-nacos/src/main/java/com/alibaba/cloud/ai/prompt/PromptTemplateBuilderConfigure.java
  spring-ai-alibaba-prompt/spring-ai-alibaba-prompt-nacos/src/main/java/com/alibaba/cloud/ai/prompt/PromptTemplateCustomizer.java
  spring-ai-alibaba-prompt/spring-ai-alibaba-prompt-nacos/src/test/java/com/alibaba/cloud/ai/prompt/ConfigurablePromptTemplateFactoryTests.java
  spring-ai-alibaba-studio/pom.xml
Labels: area/core, area/studio, area/nl2sql

#1351 feat(graph): add default VectorStore on demand
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/templates/GraphBuilder.java.mustache
Labels: area/graph

#1337 feat(deepresearch): changed InteractiveHTMLController.buildInteractiveHTML parameter
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/InteractiveHtmlController.java
Labels: area/deepresearch

#1355 fix(jmanus) :remove hack function call back
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/mcp/model/vo/McpTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/creator/PlanCreator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/DocLoaderTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/FormInputTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/PlanningTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/TerminateTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/ToolCallBiFunctionDef.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/bash/Bash.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/BrowserUseTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/code/PythonExecute.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/searchAPI/GoogleSearch.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/textOperator/TextFileOperator.java
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/example/manus/tool/BrowserUseToolSpringTest.java
Labels: area/jmanus

#1341 feat(deepresearch): add RewriteAndMultiQueryNode
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/dispatcher/RewriteAndMultiQueryDispatcher.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoordinatorNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ReporterNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/RewriteAndMultiQueryNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/serializer/DeepResearchDeserializer.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/TemplateUtil.java
Labels: area/deepresearch

#1349 fix(graph): fixed some issues with the current DSL conversion
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/BranchNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/nodedata/BranchNodeData.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/adapters/DifyDSLAdapter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/BranchNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/LLMNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/BranchNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/LLMNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/resources/templates/GraphRunController.java.mustache
Labels: area/graph

#1373 fix(graph): fix pom for mvnd
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/pom.xml
Labels: area/graph

#1377 fix(ci): remove trailing whitespace in configuration file
  spring-ai-alibaba-jmanus/src/main/resources/prompts/agent/current-step-env.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/agent/step-execution.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/llm/finalize-system.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/llm/manus-system.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/llm/planning-system.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/planning/plan-creation.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/planning/plan-finalizer.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/planning/user-request.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/browser_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/default_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/text_file_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/example/manus/tool/BrowserUseToolSpringTest.java
Labels: area/jmanus

#1375 fix(ci): rename pull-request-rebot.yml to pull-request-robot.yml
  .github/workflows/pull-request-robot.yml
Labels: area/infra

#1372 feat(graph): add rendering logic for variable aggregation nodes.
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/VariableAggregatorNodeSection.java
Labels: area/graph

#1381 feat(nl2sql): remove duplicate requests
  pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/request/DeleteRequest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/request/EvidenceRequest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/request/SchemaInitRequest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/src/main/java/com/alibaba/cloud/ai/request/SearchRequest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/request/DeleteRequest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/request/SchemaInitRequest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/request/SearchRequest.java
Labels: area/nl2sql

#1387 infra(ci): add issue and pr bot
  .github/workflows/issue-and-pr.yml
Labels: area/infra

#1384 feat(graph): Translate the generated graph code's numeric ID to a readable node name.
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/VariableAggregatorNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/NodeData.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/NodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/adapters/DifyDSLAdapter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/AnswerNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/BranchNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/CodeNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/DocumentExtractorNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/EndNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/HttpNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/HumanNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/KnowledgeRetrievalNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/LLMNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/ListOperatorNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/MCPNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/ParameterParsingNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/QuestionClassifyNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/RetrieverNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/StartNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/ToolNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/VariableAggregatorNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/BranchNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/DocumentExtractorNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/HttpNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/HumanNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/KnowledgeRetrievalNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/LLMNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/ListOperatorNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/MCPNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/ParameterParsingNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/QuestionClassifierNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/ToolNodeSection.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/sections/VariableAggregatorNodeSection.java
Labels: area/graph

#1395 infra(ci): update action version
  .github/workflows/issue-and-pr.yml
Labels: area/infra
