Repository alibaba/spring-ai-alibaba, pull requests merged in 2025-08, with the labels that each got.

#1937 Optimizing the interaction of frontend projects
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/WebConfiguration.java
  spring-ai-alibaba-deepresearch/ui-vue3/README-zh.md
  spring-ai-alibaba-deepresearch/ui-vue3/README.md
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/layout/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/report/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/ConversationStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/MessageStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/chat/index.vue
Labels: area/docs, area/deepresearch

#1939 feat(graph): paraller opt
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncCommandAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncEdgeAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncNodeAction.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/action/AsyncNodeActionWithConfig.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/node/ParallelNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
Labels: area/graph

#1946 fix(deepresearch): fix packageName mutiagent to multiagent
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/multiagent/AgentDispatchResult.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/multiagent/AgentSelectionResult.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/multiagent/AgentType.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/multiagent/SearchPlatform.java
Labels: area/deepresearch

#1957 feat(mcp): mcp gateway support sse
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-gateway/spring-ai-alibaba-mcp-gateway-nacos/src/main/java/com/alibaba/cloud/ai/mcp/gateway/nacos/callback/NacosMcpGatewayToolCallback.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-gateway/spring-ai-alibaba-mcp-gateway-nacos/src/main/java/com/alibaba/cloud/ai/mcp/gateway/nacos/tools/NacosMcpGatewayToolsInitializer.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-gateway/spring-ai-alibaba-mcp-gateway-nacos/src/main/java/com/alibaba/cloud/ai/mcp/gateway/nacos/watcher/NacosMcpGatewayToolsWatcher.java
Labels: area/mcp

#1966 fix(nl2sql): fix the error param of semanticModelRecallService
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/constant/Constant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dto/BusinessKnowledgeDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dto/SemanticModelDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/TableRelationNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/semantic/SemanticModelRecallService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
Labels: area/nl2sql

#1971 feat(jmanus): add ppt generation tool and fiexd the problem about tool prompt
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/model/enums/AgentEnum.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/prompt/model/enums/PromptEnum.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/pptGenerator/IPptGeneratorService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/pptGenerator/PptGeneratorOperator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/pptGenerator/PptGeneratorService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/pptGenerator/PptInput.java
  spring-ai-alibaba-jmanus/src/main/resources/prompts/en/descriptions.properties
  spring-ai-alibaba-jmanus/src/main/resources/prompts/en/tool/ppt-generator-operator-tool-description.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/en/tool/ppt-generator-operator-tool-parameters.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/en/ppt_generator_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/zh/ppt_generator_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/zh/descriptions.properties
  spring-ai-alibaba-jmanus/src/main/resources/prompts/zh/tool/ppt-generator-operator-tool-description.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/zh/tool/ppt-generator-operator-tool-parameters.txt
Labels: area/jmanus

#1976 feat(nl2sql): improve nl2sql web
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dto/SemanticModelDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/QueryRewriteNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SchemaRecallNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/TableRelationNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseNl2SqlService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseSchemaService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/base/BaseVectorStoreService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/semantic/SemanticModelRecallService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/simple/AgentVectorStoreManager.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/test/java/com/alibaba/cloud/ai/service/simple/SimpleVectorStoreServiceTest.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/config/VectorStoreConfig.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentSchemaController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/AgentVectorService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/components/AgentDebugPanel.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/utils/api.js
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentDetail.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentWorkspace.vue
Labels: area/nl2sql

#1960 fix(studio): fix branch node converter in graph-studio
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/Case.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/ComparisonOperatorType.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/LogicalOperatorType.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/BranchNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/generator/workflow/WorkflowProjectGenerator.java
Labels: area/graph

#1948 fix(graph): enhance the nodes called by tools in graph #1897
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/model/workflow/nodedata/ToolNodeData.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/nodes/ToolNodeDataConverter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/test/java/com/alibaba/cloud/ai/dsl/adapters/DifyDSLAdapterTest.java
Labels: area/graph

#1985 fix(nl2sql): replace System.out with SLF4J logging for con…
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/DatasourceService.java
Labels: area/nl2sql

#1987 refactor(nl2sql): replace @Autowired with constructor injection for b…
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentPresetQuestionController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AgentSchemaController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/AnalyticNl2SqlController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/BusinessKnowledgeController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/DatasourceController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/PromptConfigController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SemanticModelController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/SimpleChatController.java
Labels: area/nl2sql

#2002 feat(jmanus): structure output for infinity context v3
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/config/ManusProperties.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/AgentServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/LlmService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/IPlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/executor/AbstractPlanExecutor.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/model/vo/mapreduce/MapReduceExecutionPlan.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/service/PlanTemplateService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/RepositoryPlanExecutionRecorder.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/FormInputTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/TerminateTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/innerStorage/InnerStorageContentTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/innerStorage/SmartContentSavingService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/mapreduce/DataSplitTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/mapreduce/FinalizeTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/mapreduce/MapOutputTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/mapreduce/ReduceOperationTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/tableProcessor/ITableProcessingService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/tableProcessor/TableProcessingService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/tableProcessor/TableProcessorTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/textOperator/TextFileService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/workflow/ISummaryWorkflow.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/workflow/SummaryWorkflow.java
  spring-ai-alibaba-jmanus/src/main/resources/application-h2.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/en/workflow/summary-plan-template.txt
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/structured_data_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/zh/mapreduce_map_task_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/zh/workflow/summary-plan-template.txt
  spring-ai-alibaba-jmanus/src/test/resources/test_data.md
Labels: area/jmanus

#2009 feat(nl2sql): add avatar generation and customization features
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/schema.sql
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/utils/avatar.js
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/CreateAgent.vue
Labels: area/nl2sql

#2012 feat(tool-calls): add OpenAlex tool invocation module with configurat…
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-openalex/pom.xml
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-openalex/src/main/java/com/alibaba/cloud/ai/toolcalling/openalex/OpenAlexAutoConfiguration.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-openalex/src/main/java/com/alibaba/cloud/ai/toolcalling/openalex/OpenAlexConstants.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-openalex/src/main/java/com/alibaba/cloud/ai/toolcalling/openalex/OpenAlexProperties.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-openalex/src/main/java/com/alibaba/cloud/ai/toolcalling/openalex/OpenAlexService.java
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-openalex/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/tool-calls/spring-ai-alibaba-starter-tool-calling-openalex/src/test/java/com/alibaba/cloud/ai/toolcalling/openalex/OpenAlexTest.java
  pom.xml
  spring-ai-alibaba-bom/pom.xml
Labels: area/tools, area/core, area/community

#1934 feat(memories): support redis memory the underlying implementation of jedis, lettuce, and redisson in both standalone and cluster modes
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/RedisChatMemoryAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/RedisChatMemoryProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/JedisRedisChatMemoryConnectionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/LettuceRedisChatMemoryConnectionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryClusterConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryConnectionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryConnectionDetails.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryStandaloneConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedissonRedisChatMemoryConnectionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  community/memories/spring-ai-alibaba-starter-memory-redis/README.md
  community/memories/spring-ai-alibaba-starter-memory-redis/pom.xml
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/BaseRedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/JedisRedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/LettuceRedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/RedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/RedissonRedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/java/com/alibaba/cloud/ai/memory/redis/JedisRedisChatMemoryRepositoryIT.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/java/com/alibaba/cloud/ai/memory/redis/LettuceRedisChatMemoryRepositoryIT.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/java/com/alibaba/cloud/ai/memory/redis/RedissonRedisChatMemoryRepositoryIT.java
  pom.xml
Labels: area/docs, area/core, area/community, area/memory

#2032 feat(nl2sql): separate debug and release mode
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/components/AgentDebugPanel.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentDetail.vue
Labels: area/nl2sql

#2033 feat(nl2sql): enhance datasource connection testing with loading stat…
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentDetail.vue
Labels: area/nl2sql

#2015 feat(deepresearch):Interaction before and after optimization
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/reference-sources/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/components/report/index.vue
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/ConversationStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/chat/index.vue
Labels: area/deepresearch

#2050 fix(mcp): revert mcp.version to 0.10.0
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-gateway-core/pom.xml
  pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-gateway/spring-ai-alibaba-mcp-gateway-core/pom.xml
Labels: area/mcp, area/core

#2056 fix(jmanus): modify and add some descriptions
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/zh.ts
Labels: area/jmanus

#2061 fix(nl2sql): unify status response creation for display messages
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlExecuteNode.java
Labels: area/nl2sql

#2058 fix(studio): fix frontend build error
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/README.md
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/docker/middleware/run.sh
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/.npmrc
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/frontend/README.zh-CN.md
Labels: area/docs, area/studio

#2059 fix(jmanus): fix the bug where Playwright cannot run when using the Spring Boot fat jar
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/ChromeDriverService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/browser/SpringBootPlaywrightInitializer.java
Labels: area/jmanus

#2064 fix(jmanus): Fix the scheduled task bug caused by internationalization
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/finalizer/PlanFinalizer.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/cron/CronTool.java
Labels: area/jmanus

#2070 fix(graph): problem of variable values in Dify DSL
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/main/java/com/alibaba/cloud/ai/service/dsl/adapters/DifyDSLAdapter.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-studio/src/test/java/com/alibaba/cloud/ai/dsl/adapters/DifyDSLAdapterTest.java
Labels: area/graph

#2069 feat(jmanus): added the jsx_generator tool and jsx_generator agent
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/model/enums/AgentEnum.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/jsxGenerator/ComponentState.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/jsxGenerator/IJsxGeneratorService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/jsxGenerator/JsxGeneratorOperator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/jsxGenerator/JsxGeneratorService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/jsxGenerator/JsxGeneratorTool.java
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/en/jsx_generator_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/main/resources/prompts/startup-agents/zh/jsx_generator_agent/agent-config.yml
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/example/manus/tool/jsxGenerator/JsxGeneratorIntegrationTest.java
Labels: area/jmanus

#2075 feat(nl2sql): fix some bugs and supplement the documentation
  spring-ai-alibaba-nl2sql/README.md
  spring-ai-alibaba-nl2sql/img/agent-config.png
  spring-ai-alibaba-nl2sql/img/agent-debug.png
  spring-ai-alibaba-nl2sql/img/analyze-question.png
  spring-ai-alibaba-nl2sql/img/analyze-result.png
  spring-ai-alibaba-nl2sql/img/create-agent.png
  spring-ai-alibaba-nl2sql/img/datasource-config.png
  spring-ai-alibaba-nl2sql/img/datasource-validation.png
  spring-ai-alibaba-nl2sql/img/homepage-agents.png
  spring-ai-alibaba-nl2sql/img/metadata-update.png
  spring-ai-alibaba-nl2sql/img/natural-language-query.png
  spring-ai-alibaba-nl2sql/img/preset-questions.png
  spring-ai-alibaba-nl2sql/img/publish-agent.png
  spring-ai-alibaba-nl2sql/img/publish-complete.png
  spring-ai-alibaba-nl2sql/img/query-results.png
  spring-ai-alibaba-nl2sql/img/vector-initialization.png
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/Nl2sqlConfiguration.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/entity/AgentDatasource.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/entity/Datasource.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/SqlExecuteNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/DatasourceService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/Nl2sqlForGraphController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentDetail.vue
Labels: area/docs, area/nl2sql

#2076 fix(jmanus): avoid accidental overwrite of dynamic model configuration
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/LlmService.java
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/example/manus/llm/DynamicHeaderPreservationTest.java
Labels: area/jmanus

#2078 feat(nl2sql): enable host option for development script
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/package.json
Labels: area/nl2sql

#2083 feat(graph): add support for interruption before edge evaulation
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompileConfig.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/HasMetadata.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/RunnableConfig.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/node/ParallelNode.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/StreamingChatGenerator.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/InterruptionTest.java
  spring-ai-alibaba-graph/spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphTest.java
Labels: area/graph

#2081 fix(jmanus): merge and fix cn pr
  .gitignore
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/DynamicAgentLoader.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/agent/service/IDynamicAgentLoader.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/IPlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/controller/ManusController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/annotation/VectorStoreConfig.java
Labels: area/jmanus, area/infra, area/nl2sql

#2079 fix(nl2sql): update image references in README.md
  spring-ai-alibaba-nl2sql/README.md
Labels: area/docs, area/nl2sql

#2082 fix(jmanus): optimize the incompatibility issues of postgres database
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/dialect/DynamicColumnIntegrator.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/entity/DynamicModelEntity.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/dynamic/model/service/ModelServiceImpl.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/llm/LlmService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/recorder/entity/PlanExecutionRecordEntity.java
  spring-ai-alibaba-jmanus/src/main/resources/META-INF/services/org.hibernate.integrator.spi.Integrator
Labels: area/jmanus

#2094 feat(deepresearch): optimize
  spring-ai-alibaba-deepresearch/README-zh.md
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/AgentsConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/McpAssignNodeConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/DeepResearchConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/ReflectionProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/config/SmartAgentProperties.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/enums/NodeNameEnum.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/enums/ParallelEnum.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/enums/StreamNodePrefixEnum.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/model/multiagent/AgentType.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoderNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ParallelExecutorNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/PlannerNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ReporterNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ResearcherNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/McpProviderFactory.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/RagNodeService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/QuestionClassifierService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/SearchPlatformSelectionService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/SmartAgentDispatcherService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/service/multiagent/SmartAgentSelectionHelperService.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/Multiagent/AgentPromptTemplateUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/ResourceUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/mcp/McpClientUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/mcp/McpConfigMergeUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/multiagent/AgentIntegrationUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/multiagent/AgentPromptTemplateUtil.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/multiagent/SmartAgentUtil.java
  spring-ai-alibaba-deepresearch/src/main/resources/mcp-config.json
Labels: area/docs, area/deepresearch

#2098 feat(mcp): mcp router handle
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-common/src/main/java/com/alibaba/cloud/ai/mcp/common/tracing/McpTraceExchangeFilterFunction.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/README.md
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/OpenMeteoService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/config/EmbeddingModelConfig.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/config/McpRouterConfig.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/config/McpRouterProperties.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/config/RouterWatcherConfig.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/controller/McpRouterController.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/AbstractRouterWatcher.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/McpRouterWatcher.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/discovery/McpServiceDiscovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/core/vectorstore/SimpleMcpServerVectorStore.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/nacos/NacosMcpServiceDiscovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/service/McpProxyService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/service/McpRouterManagementService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/service/McpRouterService.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/resources/application-dev.yml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/resources/application.yml
Labels: area/mcp, area/docs

#1998 feat(mcp): remove nacos2 mcp and mcp recovery
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/McpRecoveryAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-recovery-client/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-client/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/Nacos2McpAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/Nacos2McpClientAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/Nacos2McpSseClientProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-client/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/client/Nacos2McpToolCallbackAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-client/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-client/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-server/pom.xml
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-server/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/server/Nacos2McpGatewayServerAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-server/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/server/Nacos2McpRegistryAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-server/src/main/resources/META-INF/spring-configuration-metadata.json
  auto-configurations/spring-ai-alibaba-autoconfigure-nacos2-mcp-server/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  pom.xml
  spring-ai-alibaba-mcp/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/pom.xml
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/McpAsyncRecovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/McpSyncRecovery.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/CommonUtil.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/McpAsyncClientWrapper.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/McpReconnectTask.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/component/McpSyncClientWrapper.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-recovery/src/main/java/com/alibaba/cloud/ai/mcp/client/config/McpRecoveryProperties.java
  spring-ai-alibaba-spring-boot-starters/spring-ai-alibaba-starter-mcp-recovery-client/pom.xml
Labels: area/mcp, area/core

#1808 feat(core): support searching multiple VectorStore
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/advisor/CompositeDocumentRetriever.java
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/advisor/DocumentRetrievalAdvisor.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/advisor/CompositeDocumentRetrieverTests.java
Labels: area/core

#2111 feat(nl2sql): optimize database operation
  spring-ai-alibaba-nl2sql/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/annotation/VectorStoreConfig.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/config/MyBatisPlusConfig.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/entity/AgentDatasource.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/entity/Datasource.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/entity/UserPromptConfig.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/mapper/AgentDatasourceMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/mapper/DatasourceMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/mapper/UserPromptConfigMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/DatasourceService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/UserPromptConfigService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/config/MyBatisPlusConfig.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/BusinessKnowledge.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/ChatMessage.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/ChatSession.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/entity/SemanticModel.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/BusinessKnowledgeMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/ChatMessageMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/ChatSessionMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/mapper/SemanticModelMapper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/BusinessKnowledgePersistenceService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/ChatMessageService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/ChatSessionService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/service/SemanticModelPersistenceService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
Labels: area/nl2sql

#2127 infra(ci): update licenes check config
  tools/linter/license/.licenserc.yaml
Labels: area/infra

#2140 feat(mcp): mcp router switch
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-router/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/gateway/core/McpGatewayServerAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-router/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/gateway/nacos/NacosMcpGatewayAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-mcp-router/src/main/java/com/alibaba/cloud/ai/autoconfigure/mcp/router/NacosMcpRouterAutoConfiguration.java
Labels: area/core

#2142 release(ci): prepare for next release
  pom.xml
  spring-ai-alibaba-bom/pom.xml
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-jmanus/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-common/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/pom.xml
Labels: area/jmanus, area/core, area/deepresearch, area/nl2sql

#2146 fix(deepresearch): send error response to the page
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
Labels: area/deepresearch

#2152 feat(graph): saver adjust enum
  spring-ai-alibaba-deepresearch/pom.xml
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompileConfig.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/StateGraph.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/checkpoint/config/SaverConfig.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/checkpoint/constant/SaverEnum.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/InterruptionTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphFileSystemSaverTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphMemorySaverTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/SubGraphTest.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-client/src/main/java/com/alibaba/cloud/ai/service/impl/GraphServiceImpl.java
Labels: area/studio, area/deepresearch

#2160 feat(mcp): add MCP router service debugging and response models
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/model/response/McpDebugResponse.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/model/response/McpServerAddResponse.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/model/response/McpServerSearchResponse.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/model/response/McpToolExecutionResponse.java
  spring-ai-alibaba-mcp/spring-ai-alibaba-mcp-router/src/main/java/com/alibaba/cloud/ai/mcp/router/service/McpRouterService.java
Labels: area/mcp

#2159 fix(studio): correct dsl workflow
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/docker/middleware/.gitignore
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/docker/middleware/elasticsearch/data/.gitkeep
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/docker/middleware/kibana/data/.gitkeep
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/controller/AppController.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/model/workflow/Node.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/dsl/nodes/IterationNodeDataConverter.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/WorkflowProjectGenerator.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/sections/BranchNodeSection.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/java/com/alibaba/cloud/ai/studio/admin/generator/service/generator/workflow/sections/QuestionClassifierNodeSection.java
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/resources/templates/GraphBuilder.java.mustache
  spring-ai-alibaba-studio/spring-ai-alibaba-studio-server/spring-ai-alibaba-studio-server-admin/src/main/resources/templates/GraphRunController.java.mustache
Labels: area/studio

#2161 feat(deepresearch): optimize
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/agents/McpAssignNodeConfiguration.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/BackgroundInvestigationNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/CoordinatorNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ProfessionalKbDecisionNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/RagNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/ReporterNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/node/RewriteAndMultiQueryNode.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/util/StateUtil.java
Labels: area/deepresearch

#2124 feat(jmanus): the chat component has added markdown preview and code block highlighting
  spring-ai-alibaba-jmanus/ui-vue3/package.json
  spring-ai-alibaba-jmanus/ui-vue3/src/components/chat/index.vue
Labels: area/jmanus

#2112 feat(n2sql): reconstruct the prompt word configuration to support the…
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/dto/PromptConfigDTO.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/node/ReportGeneratorNode.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptHelper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/service/UserPromptConfigService.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/resources/prompts/report-generator.txt
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/java/com/alibaba/cloud/ai/controller/PromptConfigController.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/components/PromptOptimizationConfig.vue
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentDetail.vue
Labels: area/nl2sql

#2168 feat(deepresearch): update Dockerfile
  spring-ai-alibaba-deepresearch/Dockerfile
Labels: area/deepresearch

#2141 feat(nl2sql): add docker compose file and fix bug in jar
  spring-ai-alibaba-nl2sql/docker-file/Dockerfile-backend
  spring-ai-alibaba-nl2sql/docker-file/Dockerfile-frontend
  spring-ai-alibaba-nl2sql/docker-file/config/mysql/product_db.sql
  spring-ai-alibaba-nl2sql/docker-file/config/nginx.conf
  spring-ai-alibaba-nl2sql/docker-file/config/postgres/china_population_db.sql
  spring-ai-alibaba-nl2sql/docker-file/docker-compose-datasource.yml
  spring-ai-alibaba-nl2sql/docker-file/docker-compose.yml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptConstant.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptHelper.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/java/com/alibaba/cloud/ai/prompt/PromptLoader.java
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/pom.xml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/application.yml
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/data.sql
Labels: area/nl2sql

#2190 feat(nl2sql): improve report
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-chat/src/main/resources/prompts/report-generator.txt
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/views/AgentRun.vue
Labels: area/nl2sql

#2200 fix(core): image gen retry
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/dashscope/image/DashScopeImageModel.java
Labels: area/core

#2205 fix(vector-stores): avoid NPE by returning non-null observation context builder in TairVectorStore (fixes #2162)
  community/vector-stores/spring-ai-alibaba-starter-tair-store/pom.xml
  community/vector-stores/spring-ai-alibaba-starter-tair-store/src/main/java/com/alibaba/cloud/ai/vectorstore/tair/TairVectorStore.java
  community/vector-stores/spring-ai-alibaba-starter-tair-store/src/test/java/com/alibaba/cloud/ai/vectorstore/tair/TairVectorStoreTest.java
Labels: area/community

#2181 feat(nl2sql): add the user prompt word configuration table
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-management/src/main/resources/sql/schema.sql
Labels: area/nl2sql

#2176 feat(nl2sql): reset debug query to empty when starting debug
  spring-ai-alibaba-nl2sql/spring-ai-alibaba-nl2sql-web-ui/src/components/AgentDebugPanel.vue
Labels: area/nl2sql

#2218 feat(jmanus): add excel processing capabilities to jmanus.
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/config/ExcelProcessorConfiguration.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/planning/PlanningFactory.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/excelProcessor/ExcelProcessingService.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/excelProcessor/ExcelProcessorTool.java
  spring-ai-alibaba-jmanus/src/main/java/com/alibaba/cloud/ai/example/manus/tool/excelProcessor/IExcelProcessingService.java
  spring-ai-alibaba-jmanus/src/test/java/com/alibaba/cloud/ai/example/manus/tool/excelProcessor/ExcelProcessingServiceTest.java
Labels: area/jmanus

#2249 refactor(graph): enhance FileSystemSaver initialization and deletion
  .mvn/mvnd.properties
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/checkpoint/savers/FileSystemSaver.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/checkpoint/FileSystemSaverDeleteFileTest.java
Labels: area/graph

#2260 feat(graph): support Store
  spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompileConfig.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/OverAllState.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/OverAllStateBuilder.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/NamespaceListRequest.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/Store.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/StoreItem.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/StoreSearchRequest.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/StoreSearchResult.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/constant/StoreConstant.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/stores/BaseStore.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/stores/DatabaseStore.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/stores/FileSystemStore.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/stores/MemoryStore.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/stores/MongoStore.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/store/stores/RedisStore.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/store/GraphStoreIntegrationTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/store/StoreIntegrationTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/store/stores/DatabaseStoreTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/store/stores/FileSystemStoreTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/store/stores/MemoryStoreTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/store/stores/MongoStoreTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/store/stores/RedisStoreTest.java
Labels: area/graph

#2261 feat(graph): add LoopAgent
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/LoopAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/enums/FlowAgentEnum.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/FlowGraphBuildingStrategyRegistry.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/strategy/LoopGraphBuildingStrategy.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/node/LlmNode.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/flow/LoopAgentTest.java
Labels: area/graph

#2254 feat(core): add A2A Remote Agent Client
  spring-ai-alibaba-graph-core/pom.xml
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aRemoteAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/RemoteAgentCard.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/RemoteAgentTest.java
Labels: area/graph

#2223 feat(graph): agent support scheduling.
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/BaseAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/a2a/A2aRemoteAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/flow/agent/FlowAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/scheduling/DefaultScheduledAgentManager.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/scheduling/ScheduleConfig.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/scheduling/ScheduleLifecycleListener.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/scheduling/ScheduledAgentManager.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/scheduling/ScheduledAgentManagerFactory.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/scheduling/ScheduledAgentTask.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/scheduling/ScheduledAgentTaskTest.java
Labels: area/graph

#2276 fix(jmanus): optimize AI intelligent dynamic form demonstration
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/en.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/base/i18n/zh.ts
  spring-ai-alibaba-jmanus/ui-vue3/src/views/home/index.vue
Labels: area/jmanus

#2275 fix(graph): serializer add builtin support for spring ai Message.
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/agent/ReactAgent.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/serializer/plain_text/jackson/JacksonStateSerializer.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/SerializeTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/ReactAgentTest.java
Labels: area/graph

#2268 feat(memories): ssl connection for redis chat memory based on spring.ssl configuration (#2238)
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/JedisRedisChatMemoryConnectionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/LettuceRedisChatMemoryConnectionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryClusterConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryConnectionAutoConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryProperties.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedisChatMemoryStandaloneConfiguration.java
  auto-configurations/spring-ai-alibaba-autoconfigure-memory/src/main/java/com/alibaba/cloud/ai/autoconfigure/memory/redis/RedissonRedisChatMemoryConnectionAutoConfiguration.java
  community/memories/spring-ai-alibaba-starter-memory-redis/README.md
  community/memories/spring-ai-alibaba-starter-memory-redis/pom.xml
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/JedisRedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/LettuceRedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/RedissonRedisChatMemoryRepository.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/main/java/com/alibaba/cloud/ai/memory/redis/builder/RedisChatMemoryBuilder.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/ABOUT-TEST.md
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/java/com/alibaba/cloud/ai/memory/redis/ssl/SslJedisRedisChatMemoryIT.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/java/com/alibaba/cloud/ai/memory/redis/ssl/SslLettuceRedisChatMemoryIT.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/java/com/alibaba/cloud/ai/memory/redis/ssl/SslRedissonRedisChatMemoryIT.java
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/resources/ssl/cert.pem
  community/memories/spring-ai-alibaba-starter-memory-redis/src/test/resources/ssl/key.pem
Labels: area/docs, area/core, area/community, area/memory

#2269 feat(deepresearch): add chat rag file upload and add stop action
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/ChatController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/RagDataController.java
  spring-ai-alibaba-deepresearch/src/main/java/com/alibaba/cloud/ai/example/deepresearch/controller/graph/GraphProcess.java
  spring-ai-alibaba-deepresearch/ui-vue3/package.json
  spring-ai-alibaba-deepresearch/ui-vue3/src/store/MessageStore.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/types/base.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/types/message.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/types/node.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/types/upload.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/utils/request.ts
  spring-ai-alibaba-deepresearch/ui-vue3/src/views/chat/index.vue
Labels: area/deepresearch

#2288 feat(graph): enhance parallel model
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/CompiledGraph.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/internal/node/ParallelNode.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/streaming/StreamingChatGenerator.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/StateGraphStreamTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/stream/LLmNodeAction.java
Labels: area/graph

#2237 fix(core): add blank-text validation in TextDocumentParser
  spring-ai-alibaba-core/src/main/java/com/alibaba/cloud/ai/document/TextDocumentParser.java
  spring-ai-alibaba-core/src/test/java/com/alibaba/cloud/ai/document/TextDocumentParserTests.java
Labels: area/core

#2290 feat(graph): add custom deserializer for ToolResponseMessage
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/OverAllState.java
  spring-ai-alibaba-graph-core/src/main/java/com/alibaba/cloud/ai/graph/serializer/plain_text/jackson/JacksonStateSerializer.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/ParallelAgentIntegrationTest.java
  spring-ai-alibaba-graph-core/src/test/java/com/alibaba/cloud/ai/graph/agent/SequentialAgentTest.java
Labels: area/graph
